<template>
  <address class="not-italic">
    <AppLink :href="$store.state.settings.address_link" class="flex">
      <IconLocation class="inline-block w-8 h-8 mr-2" />
      <span>
        SI Labs GmbH <br />
        {{ $store.state.settings.address_street }} <br />
        {{ $store.state.settings.address_city }}
      </span>
    </AppLink>
    <br />
    <AppLink :href="'mailto:' + $store.state.settings.email">
      <IconEmail class="inline-block w-8 h-8 mr-2" />
      {{ $store.state.settings.email }} <br />
    </AppLink>
    <br />
    <AppLink :href="'tel:' + $store.state.settings.phone.replace(/\s/g, '')">
      <IconPhone class="inline-block w-8 h-8 mr-2" />
      {{ $store.state.settings.phone }}
    </AppLink>
    <SocialButtons class="mt-16 flex-row" />
  </address>
</template>

<script>
import SocialButtons from '@/components/SocialButtons.vue'
import AppLink from '@/components/AppLink.vue'

import IconLocation from '@/assets/img/icon-location.svg'
import IconPhone from '@/assets/img/icon-phone.svg'
import IconEmail from '@/assets/img/icon-email.svg'
export default {
  components: {
    SocialButtons,
    AppLink,
    IconLocation,
    IconPhone,
    IconEmail
  }
}
</script>

<style lang="scss" scoped>
svg,
/deep/ .SocialButtons svg {
  fill: var(--c-foreground);
}
</style>

