<template>
  <svg class="arrow" width="60" height="12" xmlns="http://www.w3.org/2000/svg">
    <g
      fill="none"
      fill-rule="evenodd"
      stroke=""
      stroke-width="2"
      stroke-linecap="round"
    >
      <path d="M58 6l-4.5-4.5M58 6l-4.5 4.5" />
      <path d="M0 6h57" />
    </g>
  </svg>
</template>
<style lang="scss" scoped>
svg {
  display: inline-block;
  stroke: currentColor;
  stroke-linecap: round;
}
</style>


