<template>
  <component
    :is="type"
    :to="to"
    :href="href"
    class="btn inline-block"
    :class="{
      'btn-primary': design == 'primary',
      'btn-secondary': design == 'secondary',
      'btn-simple': design == 'simple',
      'btn-simple-red': design == 'simple-red'
    }"
  >
    <slot />
    <AppArrow class="arrow" v-if="arrow == true" />
  </component>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
export default {
  components: {
    AppLink,
    AppArrow
  },
  props: {
    href: {
      type: String,
      default: null
    },
    to: {
      type: String,
      default: null
    },
    design: {
      type: String,
      default: 'primary',
      validator: function(value) {
        // The value must match one of these strings
        return (
          ['primary', 'secondary', 'simple', 'simple-red'].indexOf(value) !== -1
        )
      }
    },
    arrow: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    type() {
      if (this.to || this.href) {
        return 'AppLink'
      } else {
        return 'button'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  /* font-size: 1.25rem; */
  cursor: pointer;
  border-radius: 99999px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.03em;
  // text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: all 200ms var(--curve1);
  // background-color: var(--c-background);
  color: var(--c-foreground);
}

.btn:hover {
  .arrow {
    transform: translateX(0.3rem);
  }
}

.btn-primary {
  padding: 0.5em 1em;
  --c-background: var(--c-red);
  --c-foreground: var(--c-lightest);
  border: 2px solid var(--c-red);

  &:hover {
    box-shadow: 0px 0px 0px 2px var(--c-lightest), 0px 0px 0px 4px var(--c-red);
  }
}
.btn-secondary {
  padding: 0.5em 1em;
  --c-foreground: var(--c-red);
  border: 2px solid var(--c-red);

  &:hover {
    border-color: var(--c-lightest);
    box-shadow: 0px 0px 0px 2px var(--c-lightest), 0px 0px 0px 4px var(--c-red);
  }
}
.btn-simple {
  --c-foreground: var(--c-foreground);

  &:hover {
    text-decoration: underline;
  }
}
.btn-simple-red {
  --c-foreground: var(--c-red);

  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  margin-top: -0.3em;
  transition: all 150ms var(--curve1);
}
</style>
