<template>
  <AppLink
    :to="link"
    class="AppCard bg-white block rounded overflow-hidden shadow-lg hover:shadow-xl"
  >
    <article>
      <div class="image">
        <div class="bg">
          <AppPicture
            v-if="image"
            class="w-full"
            :file="image"
            alt=""
            :use_picture="false"
          />
        </div>
      </div>
      <div class="px-6 py-8">
        <h3 class="heading font-bold text-2xl mb-4">
          {{ heading }}
        </h3>
        <p v-if="text" class="text-black text-base mb-4">
          {{ text }}
        </p>
        <AppArrow class="arrow" />
      </div>
    </article>
  </AppLink>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppPicture from '@/components/AppPicture.vue'
import AppArrow from '@/components/AppArrow.vue'

export default {
  components: {
    AppLink,
    AppPicture,
    AppArrow
  },
  props: {
    link: {
      type: String,
      default: '/'
    },
    heading: {
      type: String,
      required: true
    },
    text: {
      type: String
    },
    image: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
.AppCard {
  transition: all 0.2s var(--curve1);

  &:hover {
    .heading {
      text-decoration: underline;
    }
    .image {
      // clip-path: circle(99% at 100% 0%);
    }
    .arrow {
      transform: translateX(1rem);
    }

    img,
    /deep/ img {
      transform: scale(1.02);
    }
  }
}

a:hover {
  text-decoration: none;
}

img,
/deep/ figure,
/deep/ img {
  object-fit: cover;
  max-width: unset;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  padding-top: 100%;
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  // clip-path: circle(100% at 100% 0%);
  .bg {
    background: rgb(226, 226, 226);

    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.arrow {
  transition: all 0.5s ease;
  top: -4rem;
  font-size: 3rem;
}
</style>