<template>
  <nuxt-link
    v-if="linkVariation == 'internal-to'"
    :to="addSlashes(to)"
    v-bind="linkProps()"
    :aria-current="$nuxt.$route.path == to ? 'page' : false"
  >
    <slot />
    <AppArrow v-if="show_arrow" />
  </nuxt-link>

  <nuxt-link
    v-else-if="linkVariation == 'internal-multi'"
    :to="addSlashes(multilink.cached_url)"
    v-bind="linkProps()"
    :aria-current="
      $nuxt.$route.path == '/' + multilink.cached_url ? 'page' : false
    "
  >
    <slot />
    <AppArrow v-if="show_arrow" />
  </nuxt-link>

  <a
    v-else-if="linkVariation == 'internal-scrolling'"
    :href="href"
    v-bind="linkProps()"
  >
    <slot />
    <AppArrow v-if="show_arrow" />
  </a>

  <a
    v-else-if="linkVariation == 'external-multi'"
    :href="multilink.url"
    v-bind="linkProps()"
  >
    <slot />
    <AppArrow v-if="show_arrow" />
  </a>

  <a
    v-else-if="linkVariation == 'external-href'"
    :href="href"
    v-bind="linkProps()"
  >
    <slot />
    <AppArrow v-if="show_arrow" />
  </a>

  <div v-else>
    { Error, please define to, href, or multilink Object on AppLink }
  </div>
</template>

<script>
import AppArrow from '@/components/AppArrow.vue'
export default {
  components: {
    AppArrow
  },
  props: {
    href: {
      type: String,
      default: null
    },
    to: {
      type: String,
      default: null
    },
    multilink: {
      // Used for Storyblok multilink field
      type: Object
    },
    show_arrow: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    linkVariation() {
      if (this.to) {
        return 'internal-to'
      } else if (
        this.multilink &&
        this.multilink.linktype == 'story' &&
        this.multilink.cached_url
      ) {
        return 'internal-multi'
      } else if (this.href && this.href.startsWith('#')) {
        return 'internal-scrolling'
      } else if (
        this.multilink &&
        this.multilink.linktype == 'url' &&
        this.multilink.url
      ) {
        return 'external-multi'
      } else {
        return 'external-href'
      }
    }
  },
  methods: {
    linkProps() {
      if (this.linkVariation.startsWith('internal')) {
        return {
          class: 'AppLink link--internal'
        }
      } else {
        return {
          target: '_blank',
          rel: 'noopener',
          class: 'AppLink link--external'
        }
      }
    },
    addSlashes(path) {
      let newPath = ''
      newPath = path.replace(/\/?(\?|#|$)/, '/$1') // add trailing slash, source http://jsfiddle.net/hRheW/8/
      newPath = newPath.startsWith('/') ? newPath : '/' + newPath // add starting slash
      // console.log(path + ' --> ' + newPath)
      return newPath
    }
  }
}
</script>

<style lang="scss" scoped>
a /deep/ .arrow {
  margin-top: -0.2em;
  transition: all 0.2s var(--curve1);
  will-change: transform;
}
a:hover /deep/ .arrow {
  transform: translateX(0.5rem);
}
</style>

