<template>
  <svg
    width="485px"
    height="100px"
    viewBox="0 0 485 100"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    :aria-labelledby="'AppLogo-title' + id"
  >
    <title :id="'AppLogo-title' + id">Service Innovation Labs</title>
    <!-- <g
      id="logo__wrapper"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    > -->
    <g ref="logo_fill" class="logo__inner" fill="#EB1941" fill-rule="nonzero">
      <path
        d="M99.66942 49.83471c0 27.52066-22.31405 49.75207-49.75206 49.75207-27.52067 0-49.75207-22.31405-49.75207-49.75207C.16529 22.31405 22.47934.08264 49.91736.08264c27.52066 0 49.75206 22.31405 49.75206 49.75207zm-29.58678 14.6281v-25.3719h5.04133v-6.36364H56.94215v6.36364h4.95868v25.3719h-5.3719v6.52893h19.00826V64.4628h-5.45455zm-49.75206-5.04132c0 8.3471 7.93388 12.14876 15.61983 12.14876 7.43802-.1653 15.28926-2.89256 15.28926-11.98347 0-8.92562-6.94215-10.57852-15.04132-11.23967-3.96694-.41323-7.35537-.9091-7.35537-4.29752 0-2.97521 3.1405-4.7934 6.52892-4.7934 3.30579 0 6.52893 1.40497 6.94215 4.46282H50c0-8.59504-7.43802-11.57025-14.6281-11.57025-7.6033 0-14.54545 3.55372-14.54545 12.06612 0 7.93388 7.02479 10 13.96694 10.5785 3.63636.24794 8.3471.57852 8.3471 4.7934 0 3.96694-3.96694 4.79339-7.35537 4.79339-3.719 0-7.52066-1.4876-7.68595-4.95868h-7.7686z"
        class="logo__circle"
      />
      <g class="logo__text" :class="{ 'opacity-0': iconOnly }">
        <path
          d="M482.9752 42.72727h1.73554V20.57851h-5.78512v10.82645l-11.4876-10.9091h-1.81818v22.14877h5.78512V31.3223l11.57025 11.40496zM444.21489 31.6529c0-4.04958 2.72727-5.86777 5.61983-5.86777 2.72727 0 5.45455 1.98348 5.45455 5.86777 0 3.8843-2.80992 5.95042-5.5372 5.95042-2.80991 0-5.53718-1.98348-5.53718-5.95042zm16.8595 0c0-7.6033-5.61984-11.40496-11.23967-11.40496-5.78512 0-11.40496 3.71901-11.40496 11.40496 0 7.68595 5.45455 11.40496 11.32232 11.40496 6.69421 0 11.32231-4.6281 11.32231-11.40496zm-28.59504 6.36364V25.28926h2.56198v-4.6281h-10.90909v4.6281h2.56198v12.72727h-2.80991v4.6281h11.40496v-4.6281h-2.80992zm-22.64463-12.3967v17.0248h5.61984v-17.0248h5.3719v-5.04132H404.4628v5.04132h5.3719zm-16.44628 4.13224l2.31405 5.3719h-4.54546l2.23141-5.3719zm4.13223 10.16529l1.32232 2.72727h5.9504v-.82645l-10-21.4876h-2.64462l-10.16529 21.4876v.82645h6.03306l1.23967-2.72727h8.26446zm-24.95868-6.94215l-1.90082-5.78513-2.80992-6.52892h-6.1157v.82644l9.58677 21.4876h2.3967l9.50413-21.4876v-.82644h-6.1157l-2.72728 6.52892-1.81818 5.78513zm-28.92562-1.32232c0-4.04958 2.72728-5.86777 5.61984-5.86777 2.72727 0 5.45454 1.98348 5.45454 5.86777 0 3.8843-2.80991 5.95042-5.53719 5.95042-2.80991 0-5.53719-1.98348-5.53719-5.95042zm16.8595 0c0-7.6033-5.61983-11.40496-11.23966-11.40496-5.78513 0-11.40496 3.71901-11.40496 11.40496 0 7.68595 5.45454 11.40496 11.32231 11.40496 6.69422 0 11.32232-4.6281 11.32232-11.40496zM331.6529 42.72727h1.73554V20.57851h-5.78512v10.82645l-11.4876-10.9091h-1.81819v22.14877h5.78512V31.3223l11.57025 11.40496zm-24.87603 0h1.73554V20.57851h-5.78513v10.82645l-11.4876-10.9091h-1.81818v22.14877h5.78512V31.3223l11.57025 11.40496zm-25.04132-4.71074V25.28926h2.56198v-4.6281h-10.90909v4.6281h2.56198v12.72727h-2.80991v4.6281h11.40496v-4.6281h-2.80992zM261.23967 20.5785h-13.80165v22.06612h14.04958v-5.28926h-8.26446v-3.63636h7.35537v-5.04132h-7.35537v-3.05786h8.01653v-5.04132zM221.40496 31.6529c0 7.43802 5.61983 11.32232 11.32231 11.32232 4.71075 0 9.58678-2.47934 10.41323-8.76033h-5.5372c-.5785 2.39669-2.47933 3.47107-4.87603 3.47107-3.38843 0-5.53719-2.9752-5.53719-6.1157 0-3.63637 2.14876-6.19835 5.5372-6.19835 2.39669 0 4.04958.9091 4.79338 3.1405h5.5372c-.82646-5.86777-5.86778-8.34711-10.41323-8.34711-5.61984.08264-11.23967 3.8843-11.23967 11.4876zm-6.03306 6.36364V25.28926h2.56198v-4.6281H207.0248v4.6281h2.56199v12.72727h-2.80992v4.6281h11.40496v-4.6281h-2.80992zm-22.06612-5.04132l-1.90082-5.78513-2.80992-6.52892h-6.1157v.82644l9.58678 21.4876h2.39669l9.50413-21.4876v-.82644h-6.1157l-2.72727 6.52892-1.81819 5.78513zm-24.79338-1.90083v-5.45455h4.04958c1.6529 0 2.3967 1.32232 2.3967 2.64463 0 1.40496-.82645 2.72728-2.3967 2.72728h-4.04958v.08264zm8.67768 3.719c2.14876-1.4876 3.22314-3.88429 3.30579-6.44627 0-3.8843-2.64463-7.7686-7.93389-7.7686h-9.75206v22.06612h5.78512v-6.94215h3.05785l3.80165 6.94215h6.1157v-.82645l-4.38016-7.0248zm-19.75206-14.21487h-13.80166v22.06612h14.04959v-5.28926h-8.26446v-3.63636h7.35537v-5.04132h-7.35537v-3.05786h8.01653v-5.04132zm-36.44628 15.20661c-.08265 4.95868 4.38016 7.27273 9.0909 7.27273 4.54546 0 9.00827-2.3967 9.00827-7.0248 0-5.3719-4.13223-6.28098-8.76033-6.6942-2.14876-.24794-3.38843-.41323-3.38843-1.90083 0-1.6529 1.73554-1.98347 2.9752-1.98347 1.57025 0 2.97521.66115 2.97521 2.14876h5.3719c.08265-4.7934-4.21487-7.19009-8.5124-7.19009-4.54545 0-8.59503 2.3967-8.59503 7.19009 0 4.6281 4.04958 6.03305 8.09917 6.28099 1.57025.08264 4.04958 0 4.04958 2.14876 0 1.32231-1.73553 2.06611-3.38843 2.06611-1.73553 0-3.47107-.7438-3.47107-2.2314h-5.45454v-.08265z"
          class="logo__line1"
        />
        <path
          d="M185.61983 73.38843c-.08264 4.95868 4.38017 7.27273 9.09091 7.27273 4.54546 0 9.00827-2.3967 9.00827-7.0248 0-5.3719-4.13223-6.28099-8.76033-6.69421-2.14876-.24794-3.38843-.41322-3.38843-1.90083 0-1.65289 1.73553-1.98347 2.9752-1.98347 1.57025 0 2.97521.66116 2.97521 2.14876h5.3719c.08265-4.79339-4.21487-7.19008-8.5124-7.19008-4.54545 0-8.59504 2.3967-8.59504 7.19008 0 4.6281 4.0496 6.03306 8.09918 6.281 1.57024.08264 4.04958 0 4.04958 2.14875 0 1.32232-1.73553 2.06612-3.38842 2.06612-1.73554 0-3.47108-.7438-3.47108-2.31405h-5.45454zm-10.90909-1.81818c.41323 0 .66116.08264.9091.24793.49586.41322.82644 1.07438.82644 1.73554-.08264.90909-.57851 1.73554-1.73554 1.73554h-4.4628v-3.63637h4.4628v-.08264zm-.82644-8.42975c1.15702 0 1.73553.99173 1.73553 1.98347 0 .90909-.5785 1.73553-1.73553 1.73553h-3.55372v-3.719h3.55372zm7.35537 1.81818c0-4.13223-2.89256-6.77686-6.94215-6.77686h-9.75206v22.06611h10.66115c4.54546 0 7.0248-2.89256 7.0248-6.69421 0-1.98347-.9091-3.80165-2.72728-4.71074.99174-.99174 1.73554-2.56199 1.73554-3.8843zM150 67.43802l2.31405 5.3719h-4.54546L150 67.43802zm4.13223 10.16529l1.32232 2.72727h5.9504v-.82645l-10-21.4876h-2.64462l-10.16529 21.4876v.82645h6.03306l1.23967-2.72727h8.26446zm-25.70248-19.33885h-5.78512v22.06612h13.719V75.2066h-8.01652V58.26446h.08264z"
          class="logo__line2"
        />
      </g>
    </g>
    <!-- </g> -->
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'red'
    },
    iconOnly: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    if (this.color != 'red') {
      this.$refs.logo_fill.style.fill = this.$props.color
    }
  },
  computed: {
    id() {
      return this._uid
    }
  }
}
</script>

<style lang="scss" scoped>
svg {
  height: 100%;
  max-width: 100%;
}
.logo__inner {
  transition: fill 200ms var(--curve1);
  fill: var(--c-red);
}

.logo__text {
  transition: opacity 0.4s ease;
}

svg:hover {
  .logo__inner {
    fill: #000;
  }
}
</style>