<template>
  <figure class="AppPicture">
    <!-- TODO: Add sizes attrubute -->
    <!-- if file is an svg -->
    <!-- v-lazy-image seems to not work properly with svg -->
    <img
      v-if="file.endsWith('.svg')"
      :src="file"
      :alt="alt"
      class="w-full max-h-full"
      loading="lazy"
    />
    <!-- <v-lazy-image
      v-if="file.endsWith('.svg')"
      :src="file"
      :alt="alt"
      class="w-full max-h-full"
      loading="lazy"
      :use-picture="use_picture"
    /> -->
    <!-- <object
      v-if="file.endsWith('.svg')"
      :data="file"
      class="w-full h-auto"
      type="image/svg+xml"
    >
      <img :src="file" />
    </object> -->
    <!-- else for png -->
    <v-lazy-image
      v-else-if="file.endsWith('.png')"
      :src="file"
      :srcset="imageSrcsetPng"
      :alt="alt"
      :use-picture="use_picture"
    >
      <source :srcset="imageSrcsetWebp" type="image/webp" />
      <source :srcset="imageSrcsetPng" type="image/png" />
    </v-lazy-image>
    <!-- else (for jpg, ...) -->
    <v-lazy-image
      v-else
      :src="file | transformImage('1000x0/filters:quality(66)')"
      :srcset="imageSrcsetJpg"
      :alt="alt"
      :use-picture="use_picture"
    >
      <!-- :src-placeholder="file | transformImage('50x0/filters:quality(5)')" -->
      <source :srcset="imageSrcsetWebp" type="image/webp" />
      <source :srcset="imageSrcsetJpg" type="image/jpg" />
    </v-lazy-image>

    <figcaption
      class="text-center mt-4 mx-auto px-2 text-base"
      v-if="show_figcaption"
    >
      {{ alt }}
    </figcaption>
  </figure>
</template>

<script>
export default {
  props: {
    file: {
      type: String,
      required: true
    },
    alt: {
      type: String,
      required: true,
      default: ''
    },
    sizes: {
      type: Array,
      default: () => [400, 800, 1200, 2000, 2400, 2800]
    },
    use_picture: {
      type: Boolean,
      default: true
    },
    show_figcaption: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    imageSrcsetWebp() {
      let sizesString = ''
      this.sizes.forEach(size => {
        sizesString +=
          this.$options.filters.transformImage(
            this.file,
            size + 'x0/filters:format(webp)'
          ) +
          ' ' +
          size +
          'w, '
      })
      return sizesString
    },
    imageSrcsetPng() {
      // Unused, Storyblok image service seems to have problems converting pngs correctly
      let sizesString = ''
      this.sizes.forEach(size => {
        sizesString +=
          this.$options.filters.transformImage(
            this.file,
            size + 'x0/filters:format(png)',
            'https://img5.storyblok.com/' // use beta-service for pngs, (img2 does not yet support non-palletted pngs). File size max 6 mb
          ) +
          ' ' +
          size +
          'w, '
      })
      return sizesString
    },
    imageSrcsetJpg() {
      let sizesString = ''
      this.sizes.forEach(size => {
        sizesString +=
          this.$options.filters.transformImage(
            this.file,
            size + 'x0/filters:quality(70)'
          ) +
          ' ' +
          size +
          'w, '
      })
      return sizesString
    }
  }
}
</script>

<style lang="scss" scoped>
/deep/ .v-lazy-image {
  transition: all 0.5s ease;
  opacity: 0;
  will-change: opacity;
}
/deep/ .v-lazy-image-loaded {
  opacity: 1;
}
// this sometime fixes images not loadig in Chrome!
/deep/ {
  figure,
  picture,
  img.v-lazy-image:not(.v-lazy-image-loaded) {
    min-height: 1px;
    min-width: 1px;
    display: block;
  }
}

figcaption {
  max-width: 80vw;
}
</style>