<template>
  <AppLink
    :to="link"
    class="ArticleTeaserSmall block overflow-hidden color-inherit"
  >
    <article>
      <div class="image mb-4 bg-grey-light">
        <AppPicture v-if="image" class="w-full" :file="image" alt="" />
      </div>
      <h3 class="heading font-bold text-4xl mb-4">
        {{ heading }}
      </h3>
      <p v-if="text" class="mb-4">
        {{ text }}
      </p>
      <span class="font-bold text-highlight">
        <span v-if="cta_text">
          {{ cta_text }}
        </span>
        <AppArrow class="arrow" />
      </span>
    </article>
  </AppLink>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppPicture from '@/components/AppPicture.vue'
import AppArrow from '@/components/AppArrow.vue'

export default {
  components: {
    AppLink,
    AppPicture,
    AppArrow
  },
  props: {
    link: {
      type: String,
      default: '/'
    },
    heading: {
      type: String,
      required: true
    },
    text: {
      type: String
    },
    image: {
      type: String
    },
    cta_text: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
.image {
  @include aspect-ratio(3, 2);
  // border-bottom-left-radius: 2rem;
  overflow: hidden;
}

.ArticleTeaserSmall {
  transition: all 0.2s var(--curve1);
  &:hover {
    .heading {
      text-decoration: underline;
    }
    .arrow {
      transform: translateX(0.5rem);
    }
    img,
    /deep/ img {
      transform-origin: center;
      transform: scale(1.01);
      // height: 102%;
    }
  }
}
a:hover {
  text-decoration: none;
}

/deep/ figure,
/deep/ picture,
/deep/ img {
  object-fit: cover;
  max-width: unset;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.arrow {
  transition: all 0.5s ease;
}
</style>