<template>
  <a
    class="MenuButton"
    href=""
    @click.prevent="$store.dispatch('toggleMenu')"
    @keyup.esc="$store.dispatch('toggleMenu')"
    aria-label="Menu"
    :aria-expanded="$store.state.menuIsOpen"
    aria-controls="TheMenu"
    role="button"
  >
    <div class="burger flex w-16 h-16">
      <div
        class="burger__inner relative m-auto w-10 h-6 flex flex-col justify-around"
      >
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </div>
    <!-- https://www.sarasoueidan.com/blog/accessible-icon-buttons/ -->
  </a>
</template>

<style lang="scss" scoped>
.MenuButton {
  justify-self: flex-end;
  align-self: center;
}

.burger:hover .line {
  background: var(--c-red);
}
.burger:active {
  background: var(--c-tap);
}

.burger__inner {
  transition: transform 100ms ease;
}

.line {
  height: 0.18rem;
  border-radius: 0.9rem;
  display: block;
  width: 100%;
  background-color: var(--c-foreground);
  transition: all 100ms ease;
}
.line1 {
  will-change: transform;
}
.line2 {
  width: 80%;
  will-change: transform, width;
}
.line3 {
  width: 60%;
  will-change: transform, width;
}
.menu-open {
  .burger__inner {
    transform: translateX(0.25rem);
  }
  .line1 {
    transform: rotate(45deg);
    transform-origin: 20% 50%;
  }
  .line2 {
    transform: scaleX(0) translateY(-50%);
    width: 100%;
  }
  .line3 {
    transform: rotate(-45deg);
    transform-origin: 20% 50%;
    width: 100%;
  }
}
</style>
