<template>
  <div>
    <article v-editable="story.content">
      <!-- article header -->
      <header class="header pb-16">
        <div class="header__picture">
          <AppPicture
            v-if="story.content.keyvisual && story.content.show_keyvisual"
            :file="story.content.keyvisual"
            alt=""
            class="container container--wide"
          />
        </div>
        <div class="header__content py-16">
          <div class="container">
            <span
              class="block font-bold text-xl mb-2"
              v-if="story.content.pre_heading"
            >
              {{ story.content.pre_heading }}
            </span>
            <PostTags
              class="mt-2"
              v-if="story.tag_list"
              :tags="story.tag_list"
            />
            <h1
              class="mt-8 block break-words tracking-tighter text-h1-responsive hyphens-auto md:hyphens-manual leading-tight md:break-normal"
            >
              {{ story.content.heading }}
            </h1>
            <PostAuthor
              class="my-16"
              v-if="story.content.author"
              :story="story.content.author"
            />
            <div class="md:flex mt-8 ">
              <p class="text-xl font-bold mb-16 md:w-1/2 md:pr-8">
                {{ story.content.excerpt }}
              </p>
              <HtmlParser
                v-if="story.content.facts"
                class="md:w-1/2"
                :content="$options.filters.markdown(story.content.facts)"
              />
            </div>
          </div>
        </div>
      </header>
      <!-- article content -->
      <component
        class="container container--narrow"
        v-for="blok in story.content.body"
        :key="blok._uid"
        :blok="blok"
        :is="blok.component"
      ></component>
    </article>
    <!-- further links -->
    <component
      class="container"
      v-for="blok in story.content.bottom"
      :key="blok._uid"
      :blok="blok"
      :is="blok.component"
    ></component>
  </div>
</template>

<script>
import PostTags from '@/components/PostTags.vue'
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
import PostAuthor from '@/components/PostAuthor.vue'
import AppPicture from '@/components/AppPicture.vue'

export default {
  props: ['story'],
  components: {
    PostTags,
    HtmlParser,
    PostAuthor,
    AppPicture
  },
  beforeMount() {
    this.$store.commit('setShareButtonsVisbility', true)
  }
}
</script>

<style lang="scss" scoped>
.header__picture {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 30%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--c-yellow);
    z-index: -1;
  }
}
.header__content {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--c-yellow);
    z-index: -1;
  }
}

.markdown /deep/ {
  h2,
  h3,
  h4,
  h5 {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0rem;

    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }
  > * + *,
  li + li {
    margin-top: 0;
  }
}
</style>
