<template>
  <article class="flex">
    <AppPicture
      class="rounded-full overflow-hidden h-24 w-24"
      :file="story.content.image"
      :sizes="[100, 200, 400]"
      alt=""
    />
    <p class="my-auto ml-4">
      <strong class="block"> {{ story.name }} </strong>
      <span class="block"> {{ story.content.job }} </span>
    </p>
  </article>
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'

export default {
  components: {
    AppPicture
  },
  props: {
    story: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
// hack for Safari:
/deep/ img {
  border-radius: 50%;
  overflow: hidden;
}
</style>

