<template>
  <ul class="tags">
    <li class="tag" v-for="tag in tags" :key="tag">
      {{ tag }}
    </li>
    <!-- <li class="tag" v-for="tag in tags" :key="tag">
      <object
        ><a href="/tag">#{{ tag }}</a></object
      > 
    </li> -->
    <!-- <nuxt-link
      tag="li"
      :to="'/tag/' + tag"
      class="tag"
      v-for="tag in tags"
      :key="tag"
    >
      {{ tag }}
    </nuxt-link> -->
  </ul>
</template>

<script>
export default {
  props: {
    tags: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang='scss' scoped>
.tags {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  // font-style: italic;
  // text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.15em 0.5em;
  background-color: var(--c-foreground);
  color: var(--c-background);
  border-radius: 0.5srem;
  white-space: nowrap;
  &::before {
    content: '#';
    display: inline;
    margin-right: -0.25em;
  }

  // &:hover {
  // }
}
</style>