<template>
  <div class="ShareButtons fixed mb-4 sm:ml-4">
    <h2 class="mb-4 screen-reader-only">Seite Teilen:</h2>
    <ul class="flex flex-row md:flex-col">
      <li>
        <AppLink :href="shareLinkLinkedin">
          <IconLinkedin class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">LinkedIn</span>
        </AppLink>
      </li>
      <li>
        <AppLink :href="shareLinkXing">
          <IconXing class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">Xing</span>
        </AppLink>
      </li>
      <li>
        <AppLink :href="shareLinkFacebook">
          <IconFacebook class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">facebook</span>
        </AppLink>
      </li>
      <li>
        <AppLink :href="shareLinkTwitter">
          <IconTwitter class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">twitter</span>
        </AppLink>
      </li>
      <li>
        <AppLink :href="shareLinkEmail">
          <IconMail class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">E-Mail</span>
        </AppLink>
      </li>
      <li v-show="showNativeShare">
        <a @click.prevent="shareNative" href="">
          <IconShare class="icon" aria-hidden="true" focusable="false" />
          <span class="screen-reader-only">share via...</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import * as constants from '@/constants.js'
import AppLink from '@/components/AppLink.vue'
import IconFacebook from '@/assets/img/icon-fb.svg'
import IconLinkedin from '@/assets/img/icon-linkedin.svg'
import IconXing from '@/assets/img/icon-xing.svg'
import IconTwitter from '@/assets/img/icon-twitter.svg'
import IconMail from '@/assets/img/icon-email.svg'
import IconShare from '@/assets/img/icon-share.svg'

export default {
  components: {
    AppLink,
    IconFacebook,
    IconLinkedin,
    IconXing,
    IconTwitter,
    IconMail,
    IconShare
  },
  props: {
    title: {
      type: String,
      required: true
    },
    summary: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      url: constants.baseUrl + this.$route.path,
      showNativeShare: true
    }
  },
  methods: {
    shareNative() {
      // use native share dialog if supported
      if (navigator.share !== undefined) {
        navigator
          .share({
            title: this.title,
            text: this.summary + ' ' + this.url,
            url: this.url
          })
          .then(
            () => console.log('Successful native share'),
            error => console.log('Error sharing:', error)
          )
      } else {
        // else: copy to clipboard
        const el = document.createElement('textarea')
        el.value = this.url
        document.body.appendChild(el)
        el.select()
        document.execCommand('copy')
        document.body.removeChild(el)
        // alert('Adresse wurde in die Zwischenablage kopiert:\n' + this.url)
      }
    }
  },
  computed: {
    encodedTitle() {
      return this.$options.filters.encodeText(this.title)
    },
    encodedSummary() {
      return this.$options.filters.encodeText(this.summary)
    },
    shareLinkLinkedin() {
      return (
        'https://www.linkedin.com/shareArticle?mini=true' +
        '&url=' +
        this.url +
        '&title=' +
        this.encodedTitle +
        '&summary=' +
        this.encodedSummary
      )
    },
    shareLinkXing() {
      return 'https://www.xing.com/spi/shares/new?' + '&url=' + this.url
    },
    shareLinkFacebook() {
      return 'https://www.facebook.com/sharer/sharer.php?u=' + this.url
    },
    shareLinkTwitter() {
      return (
        'https://twitter.com/intent/tweet?original_referer=' +
        this.url +
        '&text=' +
        this.encodedTitle +
        '&tw_p=tweetbutton&url=' +
        this.url +
        '&via=' +
        constants.twitterHandle
      )
    },
    shareLinkEmail() {
      return (
        'mailto:?subject=' +
        this.encodedTitle +
        '&amp;body=' +
        this.encodedTitle +
        '%0D%0A' +
        this.url
      )
    }
  },
  beforeMount() {
    if (navigator.share !== undefined) {
      this.showNativeShare = true
    } else {
      this.showNativeShare = false
    }
  }
}
</script>

<style lang="scss" scoped>
.ShareButtons {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include mq-md {
    position: fixed;
    bottom: calc(50% - 12rem);
    right: 0.5rem;
  }
}
ul {
  li {
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    a {
      border-radius: 50%;
      overflow: hidden;
      padding: 0.3rem;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      &:hover {
        background: var(--c-red);
      }
      svg {
        fill: var(--c-lightest);
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
</style>