<template>
  <ul class="SocialButtons flex">
    <li>
      <AppLink :href="constants.linkedinUrl">
        <IconLinkedin class="icon" aria-hidden="true" focusable="false" />
        <span class="screen-reader-only">LinkedIn</span>
      </AppLink>
    </li>
    <li>
      <AppLink :href="constants.facebookUrl">
        <IconFacebook class="icon" aria-hidden="true" focusable="false" />
        <span class="screen-reader-only">facebook</span>
      </AppLink>
    </li>
    <li>
      <AppLink :href="constants.instagramUrl">
        <IconInstagram class="icon" aria-hidden="true" focusable="false" />
        <span class="screen-reader-only">Instagram</span>
      </AppLink>
    </li>
  </ul>
</template>

<script>
import * as constants from '@/constants.js'
import AppLink from '@/components/AppLink.vue'
import IconFacebook from '@/assets/img/icon-fb.svg'
import IconInstagram from '@/assets/img/icon-insta.svg'
import IconLinkedin from '@/assets/img/icon-linkedin.svg'

export default {
  components: {
    AppLink,
    IconFacebook,
    IconLinkedin,
    IconInstagram
  },
  data() {
    return {
      constants: constants
    }
  }
}
</script>

<style lang="scss" scoped>
img,
.icon {
  width: 2rem;
  margin-right: 1rem;
}
</style>