<template>
  <footer id="footer" class="TheFooter background-colored pt-16 pb-24">
    <div
      v-if="
        this.$route.fullPath != '/contact/' &&
          this.$route.fullPath != '/thank-you/'
      "
      class="container py-16"
    >
      <AppLink to="/contact">
        <h2 class="text-4xl inline">
          Kontaktieren Sie uns
          <AppArrow />
        </h2>
      </AppLink>
    </div>
    <div class="container flex flex-col md:flex-row flex-wrap py-8">
      <AdressAndSocial class="md:w-2/3" />
      <ul class="mt-8 md:w-1/3 text-xl font-bold">
        <li
          class="mb-2"
          v-for="(item, index) in $store.state.settings.footer_links"
          :key="index"
        >
          <AppLink class="leading-loose inline-block" :multilink="item.link">
            {{ item.name }}
          </AppLink>
        </li>
      </ul>
    </div>
    <small class="container block my-16 text-base flex flex-col">
      <AppLink
        class="mr-auto py-2"
        v-for="(item, index) in $store.state.settings.footer_links_secondary"
        :key="index"
        :multilink="item.link"
      >
        {{ item.name }}
      </AppLink>
      <br />
      <span>&copy; 2011 - {{ currentYear + ' ' + constants.legalName }}</span>
    </small>
  </footer>
</template>

<script>
import * as constants from '@/constants.js'
import ShareButtons from '@/components/ShareButtons.vue'
import AdressAndSocial from '@/components/AdressAndSocial.vue'
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
import AppLogo from '@/components/AppLogo.vue'

export default {
  components: {
    ShareButtons,
    AdressAndSocial,
    AppLink,
    AppArrow,
    AppLogo
  },
  data() {
    return {
      constants: constants
    }
  },
  computed: {
    currentYear() {
      return new Date().getFullYear()
    }
  }
}
</script>

<style lang='scss' scoped>
.TheFooter {
  font-size: 1rem;
  background-color: var(--c-background);
  color: var(--c-foreground);
  min-height: 24rem;

  a,
  a:hover {
    color: inherit;
  }
  /deep/ .SocialButtons svg {
    fill: #fff;
  }
}
</style>