<template>
  <address class="TheFloatingContact fixed background-colored">
    <AppLink
      class="font-bold white rounded-full rounded-r-none flex py-2 px-4 mb-1"
      :href="'tel:' + $store.state.settings.phone"
    >
      <IconPhone class="inline-block mr-2" />
      <span>{{ $store.state.settings.phone }}</span>
    </AppLink>
    <AppLink
      class="font-bold white rounded-full rounded-r-none flex py-2 px-4"
      :href="'mailto:' + $store.state.settings.email"
    >
      <IconEmail class="inline-block mr-2" />
      <span>{{ $store.state.settings.email }}</span>
    </AppLink>
  </address>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import IconPhone from '@/assets/img/icon-phone.svg'
import IconEmail from '@/assets/img/icon-email.svg'

export default {
  components: {
    AppLink,
    IconPhone,
    IconEmail
  }
}
</script>


<style lang="scss" scoped>
.TheFloatingContact {
  bottom: 5%;
  right: -12.65rem;
  line-height: 1.5rem;

  @include mq-md {
    bottom: 40%;
  }

  a {
    background-color: var(--c-background);
    height: 3rem;
    display: flex;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    border: 2px solid var(--c-lightest);
    border-right: none;

    transform: translateX(0);
    transition: 200ms transform var(--curve1);

    &:hover,
    &:active {
      transform: translateX(-12.65rem);
      span {
        opacity: 1;
      }
    }

    svg {
      height: 2rem;
      width: 2rem;
      fill: var(--c-foreground);
    }
    span {
      width: 12rem;
      opacity: 0;
    }
  }
}
</style>