<template>
  <div>
    <header class="TheHeader" :class="{ 'menu-open': menuIsOpen }">
      <nav
        ref="nav"
        class="navbar"
        :class="{
          'navbar--hidden': !showNavbar,
          'shadow-xl': !scrolledToTop
        }"
      >
        <div
          class="flex flex-row flex-no-wrap px-4 content-center sm:h-20 md:h-24"
        >
          <!-- Link to Home with Logo -->
          <nuxt-link class="navbar__link homelink w-56 pr-4 mr-auto" to="/">
            <AppLogo :iconOnly="!scrolledToTop" />
          </nuxt-link>
          <ul class="flex text-base">
            <li
              v-for="(item, index) in $store.state.settings.primary_nav"
              :key="index"
              class="hidden text-grey"
              :class="{
                'sm:flex': item.priority == 1,
                'md:flex': item.priority == 2,
                'lg:flex': item.priority == 3 || !item.priority
              }"
            >
              <AppLink
                :multilink="item.link"
                class="navbar__link underline-effect hover:text-red my-auto mr-4 font-bold color-inherit"
              >
                {{ item.name }}
              </AppLink>
            </li>
          </ul>
          <MenuButton />
        </div>
      </nav>
    </header>
    <TheMenu />
  </div>
</template>

<script>
import TheMenu from '@/components/TheMenu.vue'
import AppLogo from '@/components/AppLogo.vue'
import MenuButton from '@/components/MenuButton.vue'
import AppLink from '@/components/AppLink.vue'

// Auto-hiding functionality is inspired by: https://tahazsh.com/hide-navbar-on-scroll-down-in-vue

export default {
  data() {
    return {
      showNavbar: true,
      lastScrollPosition: 0,
      scrolledToTop: true
    }
  },
  mounted() {
    window.addEventListener('scroll', this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll)
  },
  methods: {
    onScroll() {
      // Get the current scroll position
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop
      const triggerOffset = 60
      if (currentScrollPosition < 0) {
        // stop executing this fuction if currentScrollPosition is smaller than 0 (happening with overflow-scrolling in safari)
        return
      } else if (
        // Stop executing if the difference between current scroll position and last scroll position is less than offset
        Math.abs(currentScrollPosition - this.lastScrollPosition) <
        triggerOffset
      ) {
        return
      }
      // Here we determine whether we need to show or hide the navbar
      this.showNavbar = currentScrollPosition < this.lastScrollPosition
      this.scrolledToTop = currentScrollPosition < triggerOffset
      // Set the current scroll position as the last scroll position
      this.lastScrollPosition = currentScrollPosition
    }
  },
  computed: {
    menuIsOpen() {
      return this.$store.state.menuIsOpen
    }
  },
  components: {
    TheMenu,
    AppLogo,
    MenuButton,
    AppLink
  }
}
</script>


<style lang='scss' scoped>
.TheHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}

.navbar {
  pointer-events: auto;
  background: var(--c-background);
  transform: translate3d(0, 0, 0);
  transition: 200ms all var(--curve1);

  @include mq-lg {
    background-color: transparent;
    box-shadow: none;
  }
}

.navbar__link.nuxt-link-exact-active {
  color: var(--c-darkest);
}

.navbar.navbar--hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
</style>