<template>
  <transition name="menu">
    <div
      v-show="menuIsOpen"
      class="TheMenu background-colored h-full"
      id="TheMenu"
      :class="{ 'menu-open': menuIsOpen }"
    >
      <nav class="menu h-full pt-16">
        <header class="fixed top-0 left-0 px-4 w-full flex sm:h-20 md:h-24">
          <nuxt-link to="/" class="logo w-56 mr-auto" tabindex="-1"
            ><AppLogo color="white" class="pr-4" />
          </nuxt-link>
          <MenuButton />
        </header>

        <div class="flex h-full">
          <div class="menu__main container container--narrow my-auto sm:px-8">
            <section class="menu__left mt-8">
              <h2 class="screen-reader-only">Pages</h2>
              <transition-group
                name="stagger"
                tag="ul"
                class="nav__ul font-bold"
                v-bind:css="false"
                v-on:before-enter="staggeredListBeforeEnter"
                v-on:enter="staggeredListEnter"
              >
                <li class="nav__li" v-show="menuIsOpen" data-index="0" key="0">
                  <AppLink to="/" class="underline-effect homelink">
                    Home
                  </AppLink>
                </li>
                <li
                  v-show="menuIsOpen"
                  v-for="(item, key) in $store.state.settings.main_nav"
                  :key="key + 1"
                  v-bind:data-index="key + 1"
                  class="nav__li"
                >
                  <AppLink :multilink="item.link" class="underline-effect">
                    {{ item.name }}
                  </AppLink>
                </li>
              </transition-group>
            </section>
            <div class="menu__right mb-8">
              <!-- <h2 class="font-normal screen-reader-only">Kontakt</h2> -->
              <AdressAndSocial />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </transition>
</template>

<script>
import AppLogo from '@/components/AppLogo.vue'
import AppLink from '@/components/AppLink.vue'
import MenuButton from '@/components/MenuButton.vue'
import AdressAndSocial from '@/components/AdressAndSocial.vue'

export default {
  components: {
    AppLogo,
    MenuButton,
    AppLink,
    AdressAndSocial
  },
  computed: {
    menuIsOpen() {
      return this.$store.state.menuIsOpen
    }
  },
  methods: {
    staggeredListBeforeEnter: function(el) {
      el.style.opacity = 0
      // el.setAttribute('style', 'transform: translateY(-1rem); opacity: 0; ')
    },
    staggeredListEnter: function(el, done) {
      var delay = el.dataset.index * 60
      setTimeout(function() {
        el.style.opacity = 1
        // el.setAttribute('style', 'transform: translateY(0); opacity: 1; ')
      }, delay)
    }
  }
}
</script>

<style lang="scss" scoped>
.menu-enter-active,
.menu-leave-active {
  transition: opacity 300ms ease, border-radius 250ms ease-out;
}
.menu-leave-active .menu__right {
  display: none; // hack to prevent layout jump - https://jsfiddle.net/3hp9nuf2/6/
}

.menu-enter {
  opacity: 0;
  border-radius: 20rem 0 30rem 40rem;
}
.menu-leave-to {
  opacity: 0;
}

.TheMenu {
  will-change: opacity, border-radius;
  --c-background: var(--c-blue-dark);
  z-index: 999999;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background-color: var(--c-background);
  color: var(--c-foreground);
  overflow-y: auto;
  pointer-events: auto;
  // @extend %ext-nice-scrollbar;
}
.menu__main {
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  align-items: center;
}
.menu__left {
  margin-bottom: 4rem;
  padding-right: 1rem;
  margin-right: auto;
}
.menu__right {
  font-size: 1rem;
}

.nav__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  .nav__li {
    margin-bottom: 1rem;
    transition: opacity 250ms var(--curve1);
  }
}

.nuxt-link-exact-active.logo {
  pointer-events: none;
}

svg,
/deep/ .SocialButtons svg {
  fill: var(--c-foreground);
}
</style>