<template> </template>

<script>
export default {
  jsonld() {
    // get structured data from store. It's saved in storyblok as string, so it needs to be parsed.
    if (this.$store.state.settings.structured_data)
      return JSON.parse(this.$store.state.settings.structured_data)
  }
}
</script>