/* purgecss start ignore */
html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;

  line-height: 1.8;

  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--c-foreground);
  background-color: var(--c-background);

  -webkit-tap-highlight-color: rgba($color: #000, $alpha: 0.1);
  // @extend %ext-nice-scrollbar;
}

::selection {
  background: var(--c-red);
  color: var(--c-lightest);
}

/* :focus {
  outline-color: var(--c-highlight);
  outline-style: dotted;
  outline-offset: 2px;
} */

a {
  text-decoration: none;
  color: var(--c-highlight);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  line-height: 1.35;
  font-weight: 900;
}

mark {
  background-color: #e2f3f6;
}

b,
strong {
  font-weight: bold;
}

/* hr {
  border-bottom: 2px solid currentColor;
} */

ul,
ol {
  break-inside: avoid;
}

svg {
  stroke-linecap: round;
  fill: var(--foreground);
  stroke: var(--foreground);
}

img[alt] {
  text-align: center;
}

// Disable Transitions and Animation for Users who perfer so
// https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

/* purgecss end ignore */
