// underline hover effect

a.underline-effect,
.underline-effect a {
  position: relative;
  text-decoration: none;
  --stroke: 2px;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--stroke);
    opacity: 0;
    background-color: currentColor;
    transform-origin: bottom center;
    transform: scaleX(0.94);
    transition: opacity 0.3s ease, transform 0.8s var(--curve2);
  }

  &:active {
    background-color: var(--c-tap);
  }

  &:hover::before,
  &.nuxt-link-exact-active::before,
  &.nuxt-link-exact-active a::before {
    // transform-origin: bottom left;
    transform: scaleX(1);
    opacity: 1;
  }
}

// TODO: use [href='/'] instead of .homelink
.nuxt-link-active:not(.homelink),
.nuxt-link-exact-active.homelink {
  a.underline-effect::before {
    // transform-origin: bottom left;
    transform: scaleX(1);
  }
}
