.input-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--c-grey-light);
  border-radius: 0.5rem;
  border-bottom: 4px solid rgba($color: #000000, $alpha: 0.1);
}
input,
textarea,
label {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
label {
  font-weight: bold;
  display: block;
}
input,
textarea {
  // background-color: var(--c-grey-light);
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}
textarea {
  min-height: 14rem;
}
