/* purgecss start ignore */
.markdown {
  /* p,
  ul,
  ol,
  blockquote,
  pre {
  } */

  > * + * {
    margin-top: 2rem;
    // &:not(:last-child) {
    // }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration-style: dashed;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 2rem;
    &:not(:first-child) {
      margin-top: 4rem;
    }
  }

  h1 {
    color: orangered;
    &:after {
      border: 2px dotted blue;
      color: red;
      content: ' ❌Don\'t use <h1>! But always lower level headings ("##", "###", ...)';
    }
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: normal;
  }
  h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h5 {
    font-size: 1rem;
  }

  ul {
    list-style: disc;
    padding-left: 2em;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
  }

  li {
    padding-left: 0.5rem;
  }

  li + li {
    margin-top: 0.75rem;
  }

  pre,
  code {
    line-height: inherit;
    font-family: monospace;
    white-space: pre;
    background: #dadada;
  }

  pre {
    padding: 0.5rem;
    display: block;
  }
  code {
    display: inline-block;
  }

  blockquote {
    font-family: inherit;
    // font-style: italic;
    font-weight: bold;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    quotes: '«' '»';
  }
}
/* purgecss end ignore */
