@font-face {
  font-family: 'Intro';
  src: url('../fonts/introbold-webfont.woff2') format('woff2'),
    url('../fonts/introbold-webfont.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro';
  src: url('../fonts/introregular-webfont.woff2') format('woff2'),
    url('../fonts/introregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Intro';
  src: url('../fonts/introregularitalic-webfont.woff2') format('woff2'),
    url('../fonts/introregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
} */

body {
  font-family: 'Intro', 'Mark Pro', 'Mark', 'FF Mark', 'Apercu', 'Trebuchet MS',
    sans-serif;
  /* font-family: 'Mark Pro', 'Mark', 'FF Mark', 'Apercu', 'Trebuchet MS',
    sans-serif; */
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  overflow-wrap: normal;
  hyphens: manual;
}

.lead-paragraph {
  font-size: 1.75rem;
  font-style: italic;
}

.section-heading-small {
  font-size: 1rem;
  color: var(--c-grey);
}
