// Example of advanced route transitions
// https://css-tricks.com/native-like-animations-for-page-transitions-on-the-web/
// https://github.com/sdras/page-transitions-simple

.ThePage {
  will-change: opacity;
  backface-visibility: hidden;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: var(--curve1);
  transition-duration: 230ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* .page-enter {
  opacity: 0;
  // transform: translate3d(0, -0.6em, 0);
  @include reduced-motion {
    transform: none;
  }
}
.page-enter-active {
  transition: all 330ms var(--curve1);
}
.page-leave-to {
  opacity: 0;
  @include mq-md {
    transform: translate3d(0, -0.4em, 0);
  }
  @include reduced-motion {
    transform: none;
  }
}
.page-leave-active {
  transition: all 190ms var(--curve1);
} */
