// improve .container utlity class from tailwind:
.container {
  width: calc(100% - 2rem);

  .container {
    // reset accidentally nested containers
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: unset;
  }

  @include mq-sm {
    max-width: calc(#{$width-sm} - 2rem);
    &.container--wide {
      max-width: calc(#{$width-sm});
    }
  }
  @include mq-md {
    max-width: calc(#{$width-md} - 2rem);
    &.container--wide {
      max-width: calc(#{$width-md});
    }
  }
  @include mq-lg {
    max-width: calc(#{$width-lg} - 2rem);
    &.container--wide {
      max-width: calc(#{$width-lg});
    }
    &.container--narrow {
      max-width: 44rem;
    }
    &.container--full {
      width: 100%;
      &.container--narrow {
        max-width: 100%;
      }
    }
  }
  @include mq-xl {
    max-width: calc(#{$width-xl} - 2rem);
    &.container--wide {
      max-width: calc(#{$width-xl});
    }
  }
}

// extend tailwind for colors
.text-inherit {
  color: inherit;
}

.hyphenate {
  overflow-wrap: break-word;
  hyphens: auto; // in Chrome this only works in Android and Mac
}

// colors for sections with colored bg and white foreground
.background-colored {
  --c-background: var(--c-red);
  --c-foreground: var(--c-lightest);
  --c-highlight: var(--c-lightest);
  --c-tap: rgba(255, 255, 255, 0.1);
}

// visually hidden, but available for screen readers
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
