:root {
  // colors

  // shades of grey
  --c-lightest: #fff;
  --c-dark: #111111;
  --c-darker: #0a0a0a;
  --c-darkest: #000;

  --c-grey: #5a5a5a;
  --c-grey-light: #f5f5f5;

  // SI Colors
  // --c-red: #f50c37;
  --c-red: #e50134;
  --c-blue-darkest: #151721;
  --c-blue-dark: #090227;
  --c-blue-light: #eaf5fa;
  --c-yellow-light: #ffe852;
  --c-yellow: var(--c-yellow-light);

  // colors in use

  --c-foreground: var(--c-blue-darkest);
  --c-background: var(--c-lightest);
  --c-highlight: var(--c-red);
  --c-tap: rgba(0, 0, 0, 0.1);

  // curves
  --curve1: cubic-bezier(0.54, 0.33, 0.53, 1);
  --curve2: cubic-bezier(0.28, 0.02, 0.08, 1);

  // media query widths
  --width-xs: #{$width-xs};
  --width-sm: #{$width-sm};
  --width-md: #{$width-md};
  --width-lg: #{$width-lg};
  --width-xl: #{$width-md};
}
