/*
 * mixins for media queries
 * using same widths as tailwind
*/

$width-xs: 440px;
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

@mixin grid {
  @supports (grid-area: auto) {
    @content;
  }
}

@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin mq-xs {
  @media (min-width: #{$width-xs}) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: #{$width-sm}) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: #{$width-md}) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: #{$width-lg}) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: #{$width-xl}) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// global @extend classes
// use with care

%ext-nice-scrollbar {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    &:vertical,
    &:start:decrement,
    &:end:increment {
      display: block;
    }
    &:vertical {
      &:start:increment,
      &:end:decrement,
      &:increment,
      &:decrement {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar-track:vertical {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(200, 200, 200, 0.85);
    border-radius: 6px;
  }
  &:hover::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(200, 200, 200, 0.85);
  }
  &::-webkit-scrollbar-corner:vertical,
  &::-webkit-scrollbar-resizer:vertical {
    background-color: transparent;
  }
}
