/* "base" injects Tailwind's base styles, which is a combination of
  Normalize.css and some additional base styles. */

/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;

/* .btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
} */

@tailwind utilities;

.color-inherit {
  color: inherit;
}

.transition-all {
  transition: all 300ms var(--curve1);
}

.leading-inherit {
  line-height: inherit;
}

.text-h1-responsive {
  font-size: 4rem;
  /* responsive font size https://www.smashingmagazine.com/2016/05/fluid-typography/ */
  /*              ↓ min font size              ↓ min screen size */
  font-size: calc(40px + (66 - 40) * (100vw - 320px) / (1200 - 320));
  /*                      ↑ max - min font size         ↑ max - min screen size */
}

.rotate-1\/4 {
  transform: rotate(90deg);
}
.rotate-1\/2 {
  transform: rotate(180deg);
}
.rotate-3\/4 {
  transform: rotate(270deg);
}
