<template>
  <div>
    <TheHeader />
    <nuxt class="ThePage mt-24 hyphens-auto md:hyphens-manual" />
    <TheFooter />
    <TheStructuredData />
    <!-- Matomo tracking when js is blocked -->
    <img
      src="https://silabs.innocraft.cloud/matomo.php?idsite=1&amp;rec=1"
      style="border:0;"
      alt=""
    />
    <!-- Facebook Pixel Fallback -->
    <!-- <img
      height="1"
      width="1"
      style="display:none"
      src="https://www.facebook.com/tr?id=1105417009471584&ev=PageView&noscript=1"
      alt=""
    /> -->
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import TheStructuredData from '@/components/TheStructuredData.vue'

export default {
  components: {
    TheHeader,
    TheFooter,
    TheStructuredData
  }
  /* mounted() {
    // reset menu on page refresh - not actually needed
    this.$store.dispatch("closeMenu")
  } */
}
</script>

