<template>
  <div class="container container--narrow my-48">
    <div class="mb-24 mt-8 text-center">
      <h1 v-if="error.statusCode === 404">
        <span class="text-5xl">404.</span> <br />
        <span class="text-base"
          >The page you were loking for could not be found.</span
        >
      </h1>

      <h1 v-else>Something went wrong..(Error {{ statusCode }})</h1>
      <br />
      ↓<br />
      <br />
      <big>🥳</big><br />
      <span>Celebrate this failure!</span> <br />
      <small class="text-base">or</small> <br />
      <nuxt-link to="/">return home page</nuxt-link>
    </div>

    <div class="max-w-xl mx-auto mt-20 text-xs">
      <hr class="my-8 opacity-25" />
      <p>
        In case you see our highly traied office dog or a developer, show them
        this gibberish:
      </p>
      <pre><code>{{ message }}</code></pre>
      <hr class="my-8 opacity-25" />
    </div>
  </div>
</template>
<script>
export default {
  head() {
    meta: [
      {
        hid: 'robots',
        name: 'robots',
        content: 'noindex'
      }
    ]
  },
  props: ['error'],
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500
    },
    message() {
      return this.error.message || `<%= messages.client_error %>`
    }
  }
}
</script>