<template>
  <div>
    <main>
      <component
        v-if="story.content.component"
        :key="story.content._uid"
        :story="story"
        :is="story.content.component"
      ></component>
    </main>

    <aside class="container">
      <!-- <TheFloatingContact v-if="story.content.show_floating_contact" /> -->
      <ShareButtons
        v-if="$store.state.showShareButtons"
        :title="story.content.metadata.title"
        :summary="story.content.metadata.description"
      />
    </aside>
  </div>
</template>

<script>
import storyblokLivePreview from '@/mixins/storyblokLivePreview'
import * as constants from '@/constants.js'
import ShareButtons from '@/components/ShareButtons.vue'
import TheFloatingContact from '@/components/TheFloatingContact.vue'

export default {
  components: {
    ShareButtons,
    TheFloatingContact
  },
  data() {
    return { story: { content: {} } }
  },
  /* mounted() {
    console.log('NODE_ENV: ' + process.env.NODE_ENV)
    console.log('STORYBLOK_MODE: ' + process.env.STORYBLOK_MODE)
  }, */
  computed: {
    metaDescription() {
      return this.story.content.metadata.description
        ? this.story.content.metadata.description
        : constants.metaDescription
    },
    ogImage() {
      return this.story.content.keyvisual
        ? this.story.content.keyvisual
        : constants.baseUrl + '/silabs_logo.svg'
    }
  },

  head() {
    return {
      htmlAttrs: {
        lang: this.story.content.language ? this.story.content.language : 'de'
      },
      title: this.story.content.metadata.title
        ? this.story.content.metadata.title +
          (this.$route.path == '/'
            ? ''
            : constants.metaTitleDivider + constants.metaTitleAppendix)
        : constants.metaTitleAppendix,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: this.metaDescription
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.story.content.metadata.title
        },
        {
          hid: 'twitter:title',
          property: 'twitter:title',
          content: this.story.content.metadata.title
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.metaDescription
        },
        {
          hid: 'twitter:description',
          property: 'twitter:description',
          content: this.metaDescription
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'page'
        },
        {
          hid: 'twitter:card',
          property: 'twitter:card',
          content: 'summary'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: constants.baseUrl + this.$route.path
        },
        {
          hid: 'og:secure_url',
          property: 'og:secure_url',
          content: constants.baseUrlSecure + this.$route.path
        },
        {
          hid: 'twitter:creator:id',
          property: 'twitter:creator:id',
          content: constants.twitterId
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.ogImage
        },
        {
          hid: 'twitter:image',
          property: 'twitter:image',
          content: this.ogImage
        }
        // {
        //   name: 'og:article:tag',
        //   content: this.tags[i]
        // },
        // twitter:image:alt
      ],
      link: [
        {
          // set canonical link for homepage without slash and for other pages with trailing slash
          rel: 'canonical',
          href:
            constants.baseUrlSecure +
            (this.$route.path == '/'
              ? ''
              : // add trailing slash if not present already
                // http://jsfiddle.net/hRheW/8/
                this.$route.path.replace(/\/?(\?|#|$)/, '/$1'))
        }
      ]
    }
  },
  // get current story (=data for this page)
  asyncData(context) {
    let slug = context.route.path == '/' ? 'index' : context.route.path

    let version =
      context.query._storyblok || context.isDev ? 'draft' : 'published'

    // IMPORTANT! related Storyblok content components, comma separated
    const relations =
      'PageArticle.author,ColumnFeaturedPage.page,ColumnFeaturedArticle.page,SectionArticleTeaser.page,SectionSelectedPersons.persons'

    // Load the JSON from the API
    return context.app.$storyapi
      .get(`cdn/stories/${slug}`, {
        version: version,
        // token: constants.sbPreviewToken,
        resolve_relations: relations
        //resolve_links: 'story' //include whole story when linking with storyblok multilink field
      })
      .then(res => {
        return res.data
      })
      .catch(res => {
        context.error({
          statusCode: res.response.status,
          message: res.response.data
        })
      })
  },
  // get global data like Articles and Cases from Storyblok and save it to store
  // in Nuxt v3 this will not be neccesary anymore, since asyncData can be used in Componens (not just pages)
  // Improve: use Promise.all
  async fetch(context) {
    let version =
      context.query._storyblok || context.isDev ? 'draft' : 'published'
    // get all Articles
    if (context.store.state.articles.length == 0) {
      let articlesResponse = await context.app.$storyapi.get('cdn/stories/', {
        version: version,
        sort_by: 'first_published_at:desc',
        filter_query: {
          component: {
            in: 'PageArticle'
          }
        }
      })
      // save Articles in store
      context.store.commit('setArticles', articlesResponse.data.stories)
    }
    // get all Cases
    if (context.store.state.cases.length == 0) {
      let CasesResponse = await context.app.$storyapi.get('cdn/stories/', {
        version: version,
        sort_by: 'first_published_at:desc',
        filter_query: {
          component: {
            in: 'PageCasestudy'
          }
        }
      })
      // save Cases in store
      context.store.commit('setCases', CasesResponse.data.stories)
    }
  },
  mixins: [storyblokLivePreview]
}
</script>

<style lang="scss" scoped>
main {
  overflow-x: hidden;
  max-width: 100%;
}
</style>
