<template>
  <AppButton
    v-if="this.blok.scroll_to"
    v-scroll-to="'#' + this.blok.scroll_to"
    :design="blok.design"
    :arrow="blok.show_arrow"
    v-bind="buttonProps()"
  >
    {{ blok.text }}
  </AppButton>
  <AppButton
    v-else
    :design="blok.design"
    :arrow="blok.show_arrow"
    v-bind="buttonProps()"
  >
    {{ blok.text }}
  </AppButton>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
export default {
  props: ['blok'],
  components: {
    AppButton
  },
  methods: {
    buttonProps() {
      if (this.blok.scroll_to) {
        return {
          href: '#' + this.blok.scroll_to
        }
      } else if (this.blok.link.linktype == 'story') {
        return {
          to: '/' + this.blok.link.cached_url
        }
      } else if (this.blok.link.linktype == 'url') {
        return {
          href: this.blok.link.url
        }
      }
    }
  }
}
</script>
