<template>
  <section v-editable="blok" class="flex flex-col">
    <h3 class="mb-4">{{ blok.heading }}</h3>
    <p v-if="blok.text" class="mb-4 text-base">
      {{ blok.text }}
    </p>
    <AppLink
      v-if="blok.link.cached_url && blok.link.linktype == 'story'"
      class="mt-auto"
      :to="blok.link.cached_url"
    >
      {{ blok.link_text }}
      <AppArrow />
    </AppLink>
    <AppLink
      v-else-if="blok.link.url && blok.link.linktype == 'url'"
      class="mt-auto"
      :href="blok.link.url"
    >
      {{ blok.link_text }}
      <AppArrow />
    </AppLink>
  </section>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
export default {
  components: {
    AppLink,
    AppArrow
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
</style>


