<template>
  <!-- TODO: Refactor! -->
  <AppLink
    :multilink="blok.link"
    class="ColumnTeaser block text-foreground bg-white shadow-md hover:shadow-xl hover:no-underline p-8 pt-2 rounded-lg"
  >
    <AppPicture class="py-12" :file="blok.image" alt="" />
    <h3 class="mb-4">{{ blok.heading }}</h3>
    <p v-if="blok.text" class="text-base hyphens-auto">
      {{ blok.text }}
    </p>
    <AppArrow class="mt-auto" />
  </AppLink>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
import AppPicture from '@/components/AppPicture.vue'
export default {
  components: {
    AppLink,
    AppArrow,
    AppPicture
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.ColumnTeaser {
  transition: all 0.25s var(--curve1);
  will-change: transform, box-shadow;
  .AppPicture {
    transition: all 0.8s var(--curve2);
    will-change: transform;
    // margin-left: 12rem;
    // margin-right: 12rem;
    width: 8rem;
    margin: auto;
  }
  &:hover {
    transform: scale(1.015);

    h3 {
      text-decoration: underline;
    }
    /deep/ .AppPicture {
      transition: all 0.2s var(--curve1);
      transform: scale(1.06);
    }
    /deep/ .arrow {
      color: red;
      transform: translateX(0.2rem);
    }
  }
  &:active {
    // background-color: var(--c-tap);
    /deep/ .arrow {
      transform: translateX(2rem);
    }
  }
}
</style>


