<template>
  <ArticleTeaserSmall
    :link="'/' + blok.page.full_slug"
    :image="blok.page.content.keyvisual"
    :heading="blok.page.content.heading"
    :text="blok.page.content.excerpt"
    :cta_text="blok.cta_text"
  />
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import ArticleTeaserSmall from '@/components/ArticleTeaserSmall.vue'
export default {
  components: {
    AppLink,
    ArticleTeaserSmall
  },
  props: ['blok']
}
</script>


