<template>
  <AppPicture :file="blok.file" :alt="blok.alt_text" />
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'

export default {
  components: {
    AppPicture
  },
  props: ['blok']
}
</script>
