<template>
  <AppCard
    :link="'/' + blok.page.full_slug"
    :image="blok.page.content.keyvisual"
    :heading="blok.page.name"
    :text="blok.page.content.metadata.description"
  />
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppCard from '@/components/AppCard.vue'
export default {
  components: {
    AppLink,
    AppCard
  },
  props: ['blok']
}
</script>


