<template>
  <div class="ModalContainer">
    <modal
      :name="'modal-' + blok._uid"
      :clickToClose="false"
      :adaptive="true"
      :scrollable="false"
      height="auto"
      :minHeight="500"
      class="pb-16"
      @opened="$setLocalStorage('seenModal-' + blok._uid, true)"
    >
      <div class="bg-yellow h-full items-center">
        <div class="w-full flex">
          <button
            @click="$modal.hide('modal-' + blok._uid)"
            class="ml-auto block"
          >
            <IconClose />
          </button>
        </div>
        <div class="flex flex-col px-8 sm:px-16">
          <component
            v-for="item in blok.body"
            :key="item._uid"
            :blok="item"
            :is="item.component"
          />
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import IconClose from '@/assets/img/icon-close.svg'
export default {
  props: ['blok'],
  components: {
    IconClose
  }
}
</script>

<style lang="scss" scoped>
.ModalContainer {
  z-index: 1005;
  position: fixed;
}
.v--modal-overlay {
  background: rgba($color: #000000, $alpha: 0.4);
}
.v--modal {
}
</style>