<template>
  <div class="py-4 md:py-8 xl:py-16 flex flex-col">
    <AppPicture v-if="blok.image" class="w-full flex-1" :file="blok.image" alt="" />
    <h2 class="text-2xl md:text-3xl mb-4">{{ blok.heading }}</h2>
    <form
      :name="'form-' + blok.form_name + blok._uid"
      method="post"
      :action="
        blok.target_url.cached_url
          ? '/' + blok.target_url.cached_url
          : '/thank-you/'
      "
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      class="mx-auto w-full"
    >
      <input
        type="hidden"
        name="form-name"
        :value="'form-' + blok.form_name + blok._uid"
      />
      <div class="input-wrapper mb-6">
        <label for="input-email">
          E-Mail-Adresse
        </label>
        <input
          name="input-email"
          id="input-email"
          type="email"
          placeholder=""
          required
          class="appearance-none py-2 px-4"
        />
      </div>
      <div class="flex mb-4">
        <AppButton class="ml-auto" design="simple" type="submit" :arrow="true">
          {{ blok.btn_text }}
        </AppButton>
      </div>
    </form>
  </div>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
import AppPicture from '@/components/AppPicture.vue'
export default {
  props: ['blok'],
  components: {
    AppButton,
    AppPicture
  }
}
</script>

<style lang="scss" scoped>
</style>