<template>
  <div class="page PageGeneral" v-editable="story.content">
    <component
      v-for="blok in story.content.body"
      :key="blok._uid"
      :blok="blok"
      :is="blok.component"
    ></component>
  </div>
</template>

<script>
export default {
  props: ['story'],
  beforeMount() {
    this.$store.commit('setShareButtonsVisbility', false)
  }
}
</script>