<template>
  <div class="page PageCasestudy" v-editable="story.content">
    <PageTemplateArticle :story="story" />
  </div>
</template>

<script>
import PageTemplateArticle from '@/components/PageTemplateArticle.vue'

export default {
  props: ['story'],
  components: {
    PageTemplateArticle
  }
}
</script>