<template>
  <section
    v-editable="blok"
    class="SectionGameTeaser container container--narrow my-32"
  >
    <div class="flex flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 mt-4">
        <h2 class="text-3xl">
          {{ blok.heading }}
        </h2>
        <HtmlParser
          class="mt-4"
          :content="$options.filters.markdown(blok.description)"
        />
        <AppButton
          class="mt-8"
          design="simple-red"
          :href="blok.cta_link.cached_url"
          :arrow="true"
        >
          {{ blok.cta_text }}
        </AppButton>
      </div>
      <div class="w-full image sm:w-1/2 flex">
        <div class="image__box flex ml-auto mr-auto sm:mr-0">
          <AppPicture
            class="m-auto"
            :file="blok.box_image"
            :alt="blok.box_image_alt"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'
import AppButton from '@/components/AppButton.vue'
import HtmlParser from '@/components/nuxt/HtmlParser.vue'

export default {
  components: {
    AppPicture,
    AppButton,
    HtmlParser
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.image {
  z-index: -1;
  position: relative;
  height: 22rem;
  max-width: 100%;

  @include mq-sm {
    max-width: 40rem;
  }

  .image__box {
    z-index: -1;
    position: absolute;
    bottom: 0;

    @include mq-sm {
      width: 120%;
      left: -20%;
      top: 0;
    }
  }
}
</style>