<template>
  <!-- Intersection Observer -->
  <div
    class="SectionVisibilityObserver"
    v-observe-visibility="{
      callback: visibilityChanged,
      throttle: blok.throttle,
      once: true
    }"
  >
    <!-- Actual modal, possibly containing a form -->
    <component
      class="h-full"
      :blok="blok.body[0]"
      :is="blok.body[0].component"
    />

    <!-- Hack: the content from the modal again for SSR, but hidden to user! - needed for netlify forms to work inside modals -->
    <component
      hidden
      class="hidden"
      :blok="blok.body[0].body[0]"
      :is="blok.body[0].body[0].component"
    />
  </div>
</template>

<script>
export default {
  methods: {
    visibilityChanged(isVisible, entry) {
      if (isVisible) {
        // when observer becomes visible
        // check if user hasn't seen modal already
        console.log(
          this.$getLocalStorage('seenModal-' + this.blok.body[0]._uid)
        )
        if (
          this.$getLocalStorage('seenModal-' + this.blok.body[0]._uid) != 'true' // "true" is stored as string in localStorage!
        ) {
          // if not, show modal
          this.$modal.show('modal-' + this.blok.body[0]._uid)
        }
      }
    }
  },
  props: ['blok']
}
</script>