<template>
  <section v-editable="blok" class="SectionContact container my-40 lg:flex">
    <!-- 
      Form will be processed by netlify 
      https://www.netlify.com/docs/form-handling/
      https://www.netlify.com/blog/2018/09/07/how-to-integrate-netlify-forms-in-a-vue-app/
     -->
    <h2 class="text-3xl md:text-4xl mb-8 hyphens-auto pr-4">
      {{ blok.heading }}
    </h2>
    <form
      name="contact-form"
      method="post"
      action="/thank-you/"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      class="mx-auto w-full lg:max-w-xl"
    >
      <input type="hidden" name="form-name" value="contact-form" />
      <!-- <div class="input-wrapper mb-6">
        <div class="flex">
          <input
            type="radio"
            id="radio1"
            name="interest"
            value="radio1"
            checked
          />
          <label for="radio1">radio1</label>
        </div>
        <div class="flex">
          <input type="radio" id="radio2" name="interest" value="radio2" />
          <label for="radio2">radio2</label>
        </div>
      </div> -->
      <div class="input-wrapper mb-6">
        <label for="input-name">
          Name
        </label>
        <input
          name="input-name"
          id="input-name"
          placeholder=""
          required
          class="appearance-none py-2 px-4"
        />
      </div>

      <div class="input-wrapper mb-6">
        <label for="input-email">
          E-Mail-Adresse
        </label>
        <input
          name="input-email"
          id="input-email"
          type="email"
          placeholder=""
          required
          class="appearance-none py-2 px-4"
        />
      </div>

      <div class="input-wrapper mb-6">
        <label for="input-company">
          Unternehmen (optional)
        </label>
        <input
          name="input-company"
          id="input-company"
          placeholder=""
          class="appearance-none py-2 px-4"
        />
      </div>

      <div class="input-wrapper mb-6">
        <label for="input-message">
          Nachricht
        </label>
        <textarea
          name="input-message"
          id="input-message"
          type="text"
          placeholder=""
          required
          class="appearance-none py-2 px-4"
        ></textarea>
      </div>
      <div class="flex">
        <AppButton class="ml-auto" design="simple" type="submit" :arrow="true"
          >Absenden</AppButton
        >
      </div>
    </form>
  </section>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
export default {
  components: {
    AppButton
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
h2 {
  @include mq-lg {
    max-width: 50%;
  }
}
</style>

