<template>
  <iframe
    :src="blok.url"
    :title="blok.title"
    width="100%"
    height="800px"
    frameborder="0"
  ></iframe>
</template>

<script>
export default {
  props: ['blok']
}
</script>

<style lang="scss" scoped>
iframe {
  width: 100%;
  min-height: 90vh;
}
</style>