<template>
  <section v-editable="blok" class="container my-40">
    <h2 class="section-heading-small mb-8">{{ blok.heading }}</h2>
    <ul class="grid items-stretch text-center">
      <li v-for="person in blok.persons" :key="person.slug">
        <AppPicture
          class="rounded-full overflow-hidden"
          :file="person.content.image"
          :sizes="[200, 400, 800]"
          alt=""
        />
        <h3 class="mt-4">{{ person.name }}</h3>
        <span class="text-base leading-tight inline-block">
          {{ person.content.job }}
        </span>
      </li>
      <li v-if="blok.open_position_visible" class="placeholder">
        <AppLink class="color-inherit" :multilink="blok.open_position_link">
          <svg
            class="w-full"
            viewBox="0 0 120 120"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="60" cy="60" r="60" />
          </svg>
          <h3 class="mt-4">
            {{ blok.open_position_text }}
          </h3>
        </AppLink>
      </li>
    </ul>
  </section>
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'
import AppLink from '@/components/AppLink.vue'
export default {
  components: {
    AppPicture,
    AppLink
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
// hack for Safari:
/deep/ img {
  border-radius: 50%;
  overflow: hidden;
}

.placeholder svg {
  fill: var(--c-yellow);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  justify-items: center;

  @include mq-sm {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  @include mq-md {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}
</style>



