<template>
  <section v-editable="blok" class="SectionHeaderHero w-full">
    <div class="container">
      <div class="my-auto">
        <h1 class="mt-8 mb-16 sm:mt-8 md:mt-16 block lg:w-3/4">
          <span
            class="block text-xl mb-4 text-grey mb-16"
            v-if="blok.pre_heading"
          >
            {{ blok.pre_heading }}
          </span>
          <strong class="tracking-tighter text-h1-responsive leading-tight">
            {{ blok.heading }}
          </strong>
        </h1>
        <slot></slot>
        <div
          class="subhead block text-2xl my-8 lg:w-7/12"
          v-if="blok.sub_heading || blok.buttons.length"
        >
          <AppArrow class="rotate-1/4 text-yellow -ml-4 mb-8" />
          <HtmlParser
            v-if="blok.sub_heading"
            :content="$options.filters.markdown(blok.sub_heading)"
          />
          <div class="mt-8" v-if="blok.buttons.length">
            <BlockButton
              class="mr-8 mb-2"
              v-for="item in blok.buttons"
              :key="item._uid"
              :blok="item"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
import AppArrow from '@/components/AppArrow.vue'
import HtmlParser from '@/components/nuxt/HtmlParser.vue'

export default {
  components: {
    AppButton,
    AppArrow,
    HtmlParser
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.subhead {
  @include mq-md {
    margin-left: 25%;
  }
}
</style>

