<template>
  <div v-editable="blok" class="SectionArticleTeaser bg-yellow my-32 py-16">
    <article class="container flex flex-col md:flex-row">
      <div class="image mb-4 bg-grey-light md:w-1/2">
        <AppPicture
          v-if="blok.page.content.keyvisual"
          class="w-full"
          :file="blok.page.content.keyvisual"
          alt=""
        />
      </div>
      <div class="md:w-1/2 md:pl-16 pt-8">
        <h2 class="heading font-bold text-4xl mb-4">
          {{ blok.page.content.heading }}
        </h2>
        <p v-if="blok.page.content.excerpt" class="mb-4">
          {{ blok.page.content.excerpt }}
        </p>
        <AppLink :to="blok.page.full_slug" :show_arrow="true">
          <span class="font-bold text-highlight hover:underline">
            {{ blok.cta_text }}
          </span>
        </AppLink>
      </div>
    </article>
  </div>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppPicture from '@/components/AppPicture.vue'
import AppArrow from '@/components/AppArrow.vue'

export default {
  props: ['blok'],
  components: {
    AppLink,
    AppPicture,
    AppArrow
  }
}
</script>

<style lang="scss" scoped>
.image {
  @include aspect-ratio(3, 2);
  overflow: hidden;
}

.SectionArticleTeaser {
  transition: all 0.2s var(--curve1);
  &:hover {
    .arrow {
      transform: translateX(0.5rem);
    }
    img,
    /deep/ img {
      transform-origin: center;
      transform: scale(1.01);
      // height: 102%;
    }
  }
}

/deep/ figure,
/deep/ picture,
/deep/ img {
  object-fit: cover;
  max-width: unset;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
</style>