<template>
  <section
    v-editable="blok"
    class="SectionProcessCards my-24 py-16"
    :class="[
      blok.bg_color == 'white'
        ? 'bg-white'
        : blok.bg_color == 'blue-light'
        ? 'bg-blue-light'
        : blok.bg_color == 'grey-light'
        ? 'bg-grey-light'
        : ''
    ]"
  >
    <div class="container">
      <h2 class="text-4xl mb-8">
        {{ blok.heading }}
      </h2>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-4 xl:gap-6"
      >
        <div
          v-for="item in blok.body"
          :key="item._uid"
          class="card p-6 bg-white rounded-lg shadow-lg hover:shadow-xl transition-all"
        >
          <img
            :src="item.image"
            loading="lazy"
            alt=""
            class="w-32 ml-auto sm:ml-0"
          />
          <h3 class="text-3xl mb-4">
            {{ item.heading }}
          </h3>
          <p class="text-base mb-8 -mr-2">
            {{ item.text }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
  props: ['blok']
}
</script>

<style lang="scss" scoped>
/* .card {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 6rem;
    height: 6rem;
    background: inherit;
    top: 40%;
    right: 0.5rem;
    transform: rotate(45deg);
  }
} */
</style>

