<template>
  <section class="container my-40" v-editable="blok">
    <h2 class="section-heading-small mb-16">{{ blok.heading }}</h2>
    <ul class="grid items-stretch">
      <li v-for="item in blok.logos" :key="item.slug" class="w-full">
        <div
          class="mx-auto"
          :class="[
            item.size == 'smallest'
              ? 'logo-smallest'
              : item.size == 'smaller'
              ? 'logo-smaller'
              : item.size == 'bigger'
              ? 'logo-bigger'
              : item.size == 'biggest'
              ? 'logo-biggest'
              : 'logo-default'
          ]"
        >
          <AppPicture :file="item.image" :sizes="[400, 800]" :alt="item.name" />
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'
export default {
  components: {
    AppPicture
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.logo-smallest {
  max-width: 45%;
}
.logo-smaller {
  max-width: 60%;
}
.logo-default {
  max-width: 75%;
}
.logo-bigger {
  max-width: 90%;
}
.logo-biggest {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center;

  @include mq-xs {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
  }
  @include mq-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq-md {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mq-lg {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }
  @include mq-xl {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
  }
}
</style>