<template>
  <div
    v-editable="blok"
    class="SectionTestimonial mx-auto my-24 max-w-sm leading-normal p-4"
  >
    <blockquote class="text-lg">
      <HtmlParser :content="$options.filters.markdown(blok.quote)" />
    </blockquote>
    <cite class="mt-4 not-italic block">
      <hr class="zigzagline border-none w-full" />
      <div class="flex">
        <AppPicture
          class="rounded-full flex-none overflow-hidden p-2 w-20 mr-2 greyscale"
          v-if="blok.person_image"
          alt=""
          :file="blok.person_image"
          :sizes="[150, 300, 600]"
        />
        <div class="flex flex-col justify-center text-sm">
          <strong>{{ blok.person_name }}</strong>
          <span v-if="blok.person_position"> {{ blok.person_position }}, </span>
          <span v-if="blok.person_company"
            >{{ blok.person_company }} <br
          /></span>
        </div>
      </div>
    </cite>
  </div>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
import AppPicture from '@/components/AppPicture.vue'
export default {
  components: {
    HtmlParser,
    AppPicture
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.zigzagline {
  position: relative;
  border-bottom: 5px solid var(--c-yellow);
  margin-bottom: 2.4rem;
  &::before {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 58px;
    border-width: 32px 32px 0;
    border-style: solid;
    border-color: var(--c-yellow) transparent;
    display: block;
    width: 0;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 66px;
    border-width: 24px 24px 0;
    border-style: solid;
    border-color: var(--c-background) transparent;
    display: block;
    width: 0;
  }
}

.shadowed {
  -webkit-filter: drop-shadow(0px 2px 2px var(--c-yellow));
  filter: drop-shadow(0px 2px 2px var(--c-yellow));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.markdown {
  /deep/ p {
    &::before {
      content: '»';
      margin-right: 0.1em;
    }
    &::after {
      content: '«';
      margin-left: 0.1em;
    }
  }
}
.greyscale {
  filter: grayscale(100%);
}
</style>
