<template>
  <section v-editable="blok" class="py-16 my-32">
    <div class="container">
      <h2 class="headline text-5xl mb-20">
        {{ blok.heading }}
      </h2>
      <AppLink
        class="font-bold block mt-8"
        :multilink="blok.link"
        :show_arrow="true"
      >
        <ul class="flex flex-wrap items-stretch">
          <li
            v-for="item in blok.logos"
            :key="item.id"
            class="flex bg-grey-light p-4 md:p-8 w-32 h-32 md:w-40 md:h-40 lg:w-48 mr-4 mb-4 md:mr-6 md:mb-6 lg:mr-10 lg:mb-10"
          >
            <div class="m-auto">
              <AppPicture
                :file="item.file"
                :alt="item.alt_text"
                :sizes="[400, 800]"
              />
            </div>
          </li>
        </ul>
        {{ blok.link_text }}
      </AppLink>
    </div>
  </section>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppPicture from '@/components/AppPicture.vue'
export default {
  props: ['blok'],
  components: {
    AppLink,
    AppPicture
  }
}
</script>

<style lang="scss" scoped>
.headline::after {
  content: '';
  display: inline-block;
  white-space: nowrap;
  width: 0.07em;
  margin-right: 0.07em;
  margin-left: 0.1em;
  height: 1.4em;
  background-color: var(--c-foreground);
  margin-bottom: -0.3em;
  animation: breathing 1.5s infinite alternate;
}
@keyframes breathing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>