<template>
  <div
    v-editable="blok"
    class="SectionStack my-24 py-16"
    :class="[
      blok.bg_color == 'yellow'
        ? 'bg-yellow'
        : blok.bg_color == 'lightblue'
        ? 'bg-blue-light'
        : blok.bg_color == 'lightgrey'
        ? 'bg-grey-light'
        : ''
    ]"
  >
    <div class="container">
      <component
        v-for="item in blok.body"
        :key="item._uid"
        class="h-full"
        :blok="item"
        :is="item.component"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>


