<template>
  <section v-editable="blok" class="container flex flex-col xl:flex-row">
    <div class="pr-6 xl:w-1/2 mb-8 xl:text-right">
      <h2 class="text-3xl mb-2">
        <span class="text-red">Newsletter:</span> {{ blok.heading }}
      </h2>
      <p>
        {{ blok.text }}
      </p>
    </div>
    <form
      class="flex flex-col xl:w-1/2"
      v-if="blok.newsletter == 'intrapreneurship'"
      action="https://tinyletter.com/silabs"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/silabs', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
    >
      <div class="input-wrapper">
        <label for="tlemail">Ihre E-Mail-Adresse</label>
        <input
          class="appearance-none py-2 px-4"
          type="email"
          placeholder=""
          name="email"
          id="tlemail"
          required
        />
      </div>
      <input type="hidden" value="1" name="embed" />
      <AppButton
        type="submit"
        class="ml-auto mt-6"
        design="simple-red"
        :arrow="true"
      >
        Jetzt Abonnieren
      </AppButton>
    </form>
  </section>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
export default {
  props: ['blok'],
  components: {
    AppButton
  }
}
</script>



