<template>
  <div
    v-editable="blok"
    class="SectionColorBoxes container my-40 sm:flex flex-row items-stretch"
  >
    <article
      v-for="item in blok.body"
      :key="item.slug"
      class="pt-32 pb-64 px-16 sm:px-8 md:px-16 xl:px-24 sm:w-1/2"
      :class="[
        item.bg_color == 'yellow'
          ? 'bg-yellow'
          : item.bg_color == 'blue-dark'
          ? 'bg-blue-dark'
          : item.bg_color == 'red'
          ? 'bg-red'
          : ''
      ]"
    >
      <AppLink
        :multilink="item.link"
        class="hover:no-underline"
        :class="[
          item.bg_color == 'blue-dark' || item.bg_color == 'red'
            ? 'text-white'
            : 'color-inherit'
        ]"
      >
        <div class="h-48" v-if="item.image">
          <AppPicture :file="item.image" alt="" class="w-24" />
        </div>
        <h2 class="text-4xl mb-4">
          {{ item.heading }}
        </h2>
        <p class="mb-8">
          {{ item.content }}
        </p>
        <span v-if="item.link_text">
          {{ item.link_text }}
        </span>
        <AppArrow />
      </AppLink>
    </article>
  </div>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
import AppPicture from '@/components/AppPicture.vue'
export default {
  components: {
    AppLink,
    AppArrow,
    AppPicture
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
article {
  &:hover {
    h2 {
      text-decoration: underline;
    }
  }

  &:first-of-type {
    position: relative;

    @include mq-sm {
      padding-left: 0rem;
    }
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100rem;
      background-color: inherit;
      position: absolute;
      right: 100%;
      top: 0;
    }
  }
  &:last-of-type {
    position: relative;

    @include mq-sm {
      padding-right: 0;
    }
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100rem;
      background-color: inherit;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}
</style>


