<template>
  <div>
    <section v-editable="blok" class="SectionDefinition container my-40">
      <dl class="lg:flex">
        <dt class="lg:w-1/3 xl:w-5/12 mb-16 lg:mt-16">
          <!-- TODO: make sticky while scrolling though dd 
          https://github.com/eddiemf/vue-affix
          -->
          <h2
            class="text-4xl hyphens-auto lg:mr-4"
            :class="
              blok.color == 'red'
                ? 'text-red'
                : blok.color == 'blue-dark'
                ? 'text-blue-dark'
                : ''
            "
          >
            {{ blok.heading }}&nbsp;=
          </h2>
        </dt>
        <dd
          class="SectionDefinition__dd lg:w-2/3 xl:w-7/12 p-8 sm:p-16 text-white"
          :class="[
            blok.color == 'blue-dark' || blok.color == 'red'
              ? 'text-white'
              : 'color-inherit',
            blok.color == 'red'
              ? 'bg-red'
              : blok.color == 'blue-dark'
              ? 'bg-blue-dark'
              : blok.color == 'yellow'
              ? 'bg-yellow'
              : 'bg-grey-light'
          ]"
        >
          <div
            v-for="item in blok.body"
            :key="item.slug"
            class="md:flex lg:block xl:flex DefinitionItemDefault"
          >
            <h3
              class="text-3xl mb-4 md:w-1/3 md:mr-16 lg:w-auto xl:w-1/3 hyphens-auto"
            >
              {{ item.heading }}
            </h3>
            <HtmlParser
              class="md:w-2/3 lg:w-auto xl:w-2/3"
              :content="$options.filters.markdown(item.content)"
            />
          </div>
        </dd>
      </dl>
    </section>
  </div>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
export default {
  components: {
    HtmlParser
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.DefinitionItemDefault + .DefinitionItemDefault {
  position: relative;
  padding-top: 8rem;

  &::before {
    content: '+';
    width: 100%;
    position: absolute;
    top: 1%;
    left: 46%;
    font-size: 3rem;
    opacity: 0.7;
    font-weight: bold;
  }
}

.SectionDefinition__dd {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100rem;
    background-color: inherit;
    position: absolute;
    left: 100%;
    top: 0;
  }
}
</style>
