<template>
  <div v-editable="blok" class="SectionPressReferences mt-20 mb-40">
    <div class="container">
      <div class="columns md:flex flex-row flex-wrap items-stretch">
        <article
          class="PressReference columns__item flex-1 pb-8"
          v-for="item in blok.body"
          :key="item.slug"
        >
          <AppLink
            :multilink="item.link"
            class="h-full text-inherit hover:no-underline"
          >
            <div class="image mb-4 bg-grey-light">
              <AppPicture
                v-if="item.image"
                class="w-full"
                :file="item.image"
                alt=""
              />
            </div>
            <h3 class="mb-4">
              <span class="text-grey mb-2 inline-block">
                {{ item.pre_heading }}
              </span>
              <br />
              <strong class="text-2xl inline-block">{{ item.heading }}</strong>
            </h3>
            <p class="">
              {{ item.content }}
              <strong class="text-red">
                {{ item.link_text }}
                <AppArrow />
              </strong>
            </p>
          </AppLink>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppPicture from '@/components/AppPicture.vue'
import AppArrow from '@/components/AppArrow.vue'

export default {
  props: ['blok'],
  components: {
    AppLink,
    AppPicture,
    AppArrow
  }
}
</script>

<style lang="scss" scoped>
.PressReference {
  transition: all 0.2s var(--curve1);
  &:hover {
    .heading {
      text-decoration: underline;
    }
    .arrow {
      transform: translateX(0.5rem);
    }
    img,
    /deep/ img {
      transform-origin: center;
      transform: scale(1.01);
      // height: 102%;
    }
  }
}

.columns {
  --gutter: 2rem;
  @include mq-xl {
    --gutter: 4rem;
  }
  margin-right: calc(-1 * var(--gutter));
  &__item {
    // min-width: 30rem;
    min-width: calc(100% - var(--gutter));
    @include mq-md {
      min-width: calc(50% - var(--gutter));
    }
    margin-bottom: var(--gutter);
    margin-right: var(--gutter);
  }
}

.image {
  @include aspect-ratio(3, 2);
  // border-bottom-left-radius: 2rem;
  overflow: hidden;

  /deep/ figure,
  /deep/ picture,
  /deep/ img {
    object-fit: cover;
    max-width: unset;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
}
</style>


