<template>
  <section v-editable="blok" class="SectionHeaderSwoosh w-full">
    <div class="container relative mt-8 sm:mt-16 md:mt-32 mb-40">
      <div class="mx-auto lg:w-3/4">
        <h1
          class="mt-8 mb-16 tracking-tighter text-center text-h1-responsive leading-tight sm:mt-8 md:mt-16 block"
        >
          {{ blok.heading }}
        </h1>
      </div>
      <swooshRed
        class="swoosh absolute right-0 top-0 transform -rotate-28 scale-110 -translate-x-16 translate-y-24 md:scale-100 md:scale-75 md:-translate-x-40 max-w-4xl "
      />
    </div>
  </section>
</template>

<script>
import swooshRed from '@/assets/img/swoosh.svg'

export default {
  components: {
    swooshRed
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.swoosh {
  // transform: rotate(-28deg) scale(0.7) translate(-8rem, 0);
  z-index: -1;
}
</style>
