<template>
  <div
    v-editable="blok"
    class="SectionColumns my-32 py-16"
    :class="[
      blok.bg_color == 'yellow'
        ? 'bg-yellow'
        : blok.bg_color == 'grey-light'
        ? 'bg-grey-light'
        : ''
    ]"
  >
    <div class="container" :class="blok.css_classes">
      <h2 v-if="blok.heading" class="section-heading-small mb-8">
        {{ blok.heading }}
      </h2>
      <div class="columns sm:flex flex-row items-stretch">
        <div
          class="columns__item flex-1"
          :style="{ flex: item.column_width }"
          v-for="item in blok.body"
          :key="item.slug"
        >
          <component class="h-full" :blok="item" :is="item.component" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.columns {
  --gutter: 2rem;
  @include mq-xl {
    --gutter: 4rem;
  }
  margin-right: calc(-1 * var(--gutter));
  &__item {
    margin-bottom: var(--gutter);
    margin-right: var(--gutter);
  }
}
</style>


