<template>
  <section class="container my-40" v-editable="blok">
    <h2 class="section-heading-small mb-8">{{ blok.heading }}</h2>
    <ul class="columns sm:flex flex-row flex-wrap items-stretch">
      <li
        v-for="item in $store.state.cases"
        :key="item.slug"
        class="w-full sm:w-1/2"
      >
        <ArticleTeaserSmall
          class="columns__item"
          :heading="item.content.heading"
          :text="item.content.excerpt"
          :link="'/' + item.full_slug"
          :image="item.content.keyvisual"
        />
      </li>
    </ul>
  </section>
</template>

<script>
// TODO: Paginate!
import AppPicture from '@/components/AppPicture.vue'
import ArticleTeaserSmall from '@/components/ArticleTeaserSmall.vue'
export default {
  components: {
    AppPicture,
    ArticleTeaserSmall
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.columns {
  --gutter: 2rem;
  @include mq-xl {
    --gutter: 4rem;
  }
  margin-right: calc(-1 * var(--gutter));
  &__item {
    height: calc(100% - var(--gutter));
    margin-bottom: calc(2rem + var(--gutter));
    margin-right: var(--gutter);
  }
}
</style>



