<template>
  <div v-editable="blok" class="container">
    <HtmlParser :content="$options.filters.markdown(blok.content)" />
  </div>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'

export default {
  components: {
    HtmlParser
  },
  props: ['blok']
}
</script>

