<template>
  <div v-editable="blok" class="SectionTwoColumns my-24">
    <div class="container container--narrow sm:grid grid-cols-2">
      <div class="" v-for="item in blok.body" :key="item.slug">
        <component :blok="item" :is="item.component" />
      </div>
    </div>
  </div>
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'
export default {
  components: {
    AppPicture
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
</style>