<template>
  <section v-editable="blok" class="SectionManifesto container my-40">
    <h2 class="text-center mb-4 screen-reader-only">{{ blok.heading }}</h2>
    <HtmlParser
      class="mx-auto w-full max-w-xl text-3xl"
      :content="$options.filters.markdown(blok.content)"
    />
  </section>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
export default {
  components: {
    HtmlParser
  },
  props: ['blok']
}
</script>
