<template>
  <AppPicture
    v-editable="blok"
    :file="blok.file"
    :alt="blok.alt_text"
    :class="[blok.css_classes, { 'container--full': blok.full_width }]"
    :show_figcaption="blok.show_figcaption"
  />
</template>

<script>
import AppPicture from '@/components/AppPicture.vue'

export default {
  components: {
    AppPicture
  },
  props: ['blok']
}
</script>