<template>
  <section
    v-editable="blok"
    class="SectionVideo mt-40"
    :class="blok.bg_color ? 'bg-yellow' : ''"
  >
    <div class="container py-16">
      <h2 class="text-3xl mb-8">
        {{ blok.heading }}
      </h2>
      <div class="video-wrapper aspect16by9 my-8">
        <!-- Only Vimeo currently -->
        <iframe
          :title="blok.heading"
          :src="src"
          class="w-full"
          width="640"
          height="360"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
      <HtmlParser
        v-if="blok.content"
        class="my-8 md:w-2/3"
        :content="$options.filters.markdown(blok.content)"
      />
    </div>
  </section>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
const parameters = `autopause=true&controls=true&color=e50134&byline=false&title=false`
export default {
  components: {
    HtmlParser
  },
  props: ['blok'],
  computed: {
    src() {
      return (
        'https://player.vimeo.com/video/' +
        this.blok.video_id +
        '?' +
        parameters
      )
    }
  }
}
</script>

<style lang="scss" scoped>
iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.aspect16by9 {
  position: relative;
  height: 0;
  padding-bottom: 56.27198%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
