<template>
  <section v-editable="blok" class="SectionContact my-20 py-20 bg-grey-light">
    <!-- Component not in use - TODO: cleanup? -->
    <div class="container">
      <h2 class="text-3xl md:text-4xl mb-8 hyphens-auto pr-4">
        {{ blok.heading }}
      </h2>
      <form
        name="contact-form-questionnaire"
        method="post"
        action="/thank-you/"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        class="mx-auto w-full"
      >
        <input
          type="hidden"
          name="form-name"
          value="contact-form-questionnaire"
        />

        <fieldset class="columns mb-6 clearfix">
          <div
            class="columns__item"
            v-for="(answer, index) in blok.answers"
            :key="index"
          >
            <input
              type="checkbox"
              name="answer"
              :id="'checkbox' + index"
              :value="'checkbox' + index"
            />
            <label
              :for="'checkbox' + index"
              class="bg-white hover:bg-yellow py-6 px-8 rounded shadow hover:shadow-xl transition-all"
            >
              <span>
                {{ answer.content }}
              </span>
            </label>
          </div>
        </fieldset>

        <fieldset class="flex flex-row">
          <div class="input-wrapper">
            <label for="input-name">
              Name
            </label>
            <input
              name="input-name"
              id="input-name"
              placeholder=""
              required
              class="appearance-none bg-white py-2 px-4"
            />
          </div>

          <div class="input-wrapper">
            <label for="input-email">
              E-Mail-Adresse
            </label>
            <input
              name="input-email"
              id="input-email"
              type="email"
              placeholder=""
              required
              class="appearance-none bg-white py-2 px-4"
            />
          </div>
        </fieldset>
        <div class="flex mt-4">
          <AppButton
            class="ml-auto"
            design="simple"
            type="submit"
            :arrow="true"
          >
            Lassen Sie uns darüber sprechen!
          </AppButton>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
export default {
  components: {
    AppButton
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
.input-wrapper {
  flex-basis: 50%;
}

input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  &:focus {
    + label {
      box-shadow: 0 0 6px 1px rgba($color: #000000, $alpha: 0.4);
    }
  }
}

input[type='checkbox'] + label {
  cursor: pointer;

  &::before {
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    display: inline-block;
    border-radius: 0.15rem;
    margin-bottom: -0.2em;
    border: 2px solid black;
    font-size: 1.5em;
    line-height: 0.25;
  }
}

input[type='checkbox']:checked + label {
  color: var(--c-lightest);
  background-color: var(--c-red);

  &::before {
    content: '✓';
    border: none;
  }
}

.columns {
  --gutter: 1rem;
  margin-right: calc(-1 * var(--gutter));
  &__item {
    float: left;
    margin-bottom: var(--gutter);
    margin-right: var(--gutter);
    width: calc(100% - var(--gutter));
    @include mq-lg {
      width: calc(50% - var(--gutter));
    }
  }
}
</style>

