<template>
  <div>
    <section v-editable="blok" class="SectionSteps container my-40">
      <div class="max-w-3xl w-full flex mx-auto">
        <div class="hidden sm:inline-block sm:w-1/3"></div>
        <h2 class="text-4xl sm:w-2/3">{{ blok.heading }}</h2>
      </div>
      <ol class="mx-auto max-w-3xl">
        <li
          v-for="(item, index) in blok.body"
          :key="item.slug"
          class="StepItemDefault flex flex-col sm:flex-row"
          :class="
            blok.color == 'red'
              ? 'text-red'
              : blok.color == 'yellow'
              ? 'text-yellow'
              : ''
          "
        >
          <div class="text-2xl sm:w-2/3 text-foreground pr-2">
            <h3 class="underline leading-inherit">{{ item.heading }}</h3>
            <HtmlParser
              class="font-bold"
              :content="$options.filters.markdown(item.content)"
            />
            <AppArrow
              v-if="index < blok.body.length - 1"
              class="rotate-1/4 mt-12 sm:-ml-6"
            />
          </div>
        </li>
      </ol>
    </section>
  </div>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
import AppArrow from '@/components/AppArrow.vue'
export default {
  components: {
    HtmlParser,
    AppArrow
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
ol {
  counter-reset: list-counter;
}
ol li {
  counter-increment: list-counter;
  margin-top: 4rem;
}
ol li::before {
  content: counter(list-counter) '. ';
  color: inherit;
  font-weight: bold;
  font-size: 4rem;
  width: 33.3333%;
  @include mq-sm {
    text-align: center;
  }
}
/* h2::before {
  content: '';
  display: inline-block;
  width: 33.3333%;
} */
.li + .li {
  margin-top: 8rem;
}
</style>
