<template>
  <article
    v-editable="blok"
    class="StackItemTeaser w-full flex flex-col lg:flex-row p-8 sm:p-16 md:p-24"
    :class="[
      blok.color == 'yellow'
        ? 'bg-yellow'
        : blok.color == 'red'
        ? 'bg-red'
        : blok.color == 'blue-dark'
        ? 'bg-blue-dark'
        : 'bg-grey-light',
      blok.color == 'blue-dark' || blok.color == 'red' ? 'text-white' : ''
    ]"
  >
    <h2 class="text-4xl font-normal font-bold mb-4 lg:mb-0 lg:mr-4">
      {{ blok.heading }}
    </h2>
    <AppLink
      class="flex-shrink-0 lg:ml-auto flex font-bold color-inherit"
      :multilink="blok.link"
    >
      <div class="lg:my-auto">
        {{ blok.link_text }}
        <AppArrow class="ml-1 inline-block" />
      </div>
    </AppLink>
  </article>
</template>

<script>
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'
export default {
  components: {
    AppLink,
    AppArrow
  },
  props: ['blok']
}
</script>



