<template>
  <article
    v-editable="blok"
    class="StackItemCard block rounded overflow-hidden shadow-lg hover:shadow-xl bg-white p-8 my-8 flex flex-col md:flex-row"
  >
    <div class="md:w-1/2 md:pr-16 mb-16">
      <p v-if="blok.preheading" class="text-grey mb-4">
        {{ blok.preheading }}
      </p>
      <h2 class="text-4xl mb-4 hyphenate">{{ blok.heading }}</h2>
      <p class="mb-8 text-grey">
        {{ blok.subheading }}
      </p>
      <AppLink :multilink="blok.link" class="mb-8 font-bold" :show_arrow="true">
        {{ blok.link_text }}
      </AppLink>
    </div>
    <HtmlParser
      class="md:w-1/2"
      :content="$options.filters.markdown(blok.content)"
    />
  </article>
</template>

<script>
import HtmlParser from '@/components/nuxt/HtmlParser.vue'
import AppLink from '@/components/AppLink.vue'
import AppArrow from '@/components/AppArrow.vue'

export default {
  components: {
    HtmlParser,
    AppLink,
    AppArrow
  },
  props: ['blok']
}
</script>

<style lang="scss" scoped>
</style>